%div#content
  %h1
    プログラム
  %h2
    8/27(Fri)
  %table
    %tr
      %th
        時間
      %th
        ○○会議室 
      %th
        ○○会議室 
      %th
        ○○会議室 
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
    %tr  
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td.cell_common{ :colspan => "3" }
        休憩
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo
  %h2
    8/28(Sat)
  %table
    %tr
      %th
        時間
      %th
        ○○会議室 
      %th
        ○○会議室 
      %th
        ○○会議室 
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
    %tr  
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td.cell_common{ :colspan => "3" }
        休憩
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo
  %h2
    8/29(Sun)
  %table
    %tr
      %th
        時間
      %th
        ○○会議室 
      %th
        ○○会議室 
      %th
        ○○会議室 
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
    %tr  
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td.cell_common{ :colspan => "3" }
        休憩
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo
    %tr
      %td.center
        00:00
        %br
        |
        %br
        00:00
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo 
      %td
        %a.tip
          "sessionTitle"
          %span
            Git is the distributed version control system that is taking the software development world by storm. GitHub is the Git social hosting website that is helping people share and collaborate on their code quickly and easily. This talk will quickly introduce you to the Git tool and then demonstrate why it's features and structure can change your development life if you're still using Subversion or Perforce. We will also cover how to use GitHub to take advantage of these features and new workflows that become available to collaborate on your open source projects.            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus gravida. Morbi ut magna orci. Nullam lobortis euismod mi at scelerisque. Etiam vel eros sed nisi luctus dapibus ac sed libero. Suspendisse sagittis, tellus eu pulvinar tempus, diam velit volutpat justo, id viverra felis est non nunc.
        %br
        %a.tip
          "speaker'sName"
          %span
            %img{ :alt => "", :src => "/2010/images/programs_speaker_sample.jpg" }
            Scott Chacon is a Git evangelist and Ruby developer employed at Logical Awesome working on GitHub.com. He is the author of the upcoming Pro Git book from Apress publishing, the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at RailsConf, RubyConf, Scotland on Rails, a number of local groups and has done corporate training on Git across the country.
        %br
        %a.mark{ :href => "#" }
          slideshare
        %br
        %a.mark{ :href => "#" }
          nicovideo
