#content
  %h1 日本Ruby会議2010ではスポンサーを募集しています
  %p <strong>(終了しました。たくさんのご支援ありがとうございました!)</strong>
  %p
    日本Ruby会議2010ではカンファレンスのスポンサーを募集しております。日本Ruby会議2010には国内はもとより、世界中からRubyプログラマが参加します。絶好の露出の機会としても、ぜひご利用ください。
  %p
    詳細は以下のPDFにお目を通していただいたうえで、2010 at rubykaigi dot org までメールにてお気軽にお問い合わせください。
  %h2
    %a{ :href => "/2010/files/rubykaigi2010_prospectus_ja.pdf" }
      日本Ruby会議2010  スポンサーシップのご案内(PDF)
  %p
    日本最大規模のRubyのカンファレンスを一緒につくっていただける皆さまからの応募を心よりお待ちしております。
