%h1
  %a{:href=>'/2010'}!= image_tag "/2010/images/teaser-head.png", :width=>'732', :height=>'113', :alt=>'RubyKaigi2010: the year we make contact with rubyists', :style => 'border:none'
%p.spec{ :style => "margin-top:20px" }
  日本Ruby会議2010での「企画」を募集します
%p
  RubyKaigi2010 では通常発表だけでなく、企画の募集を行います。企画の内容はRuby に関連していればどのようなものでも構いません。
%p
  企画の例:
%ul
  %li
    JRubyConf: RubyConf2009 と時期を合わせて行われた、JRuby に関するイベント
  %li
    5krun: RubyConf2009 の会場周辺でおこなわれた早朝のジョギング
  %li
    地域Ruby会議会議: RubyKaigi2009 で行われた、地域 Ruby 会議を今後どうやっていくかを話し合うイベント
  %li
    tDiary会議: RubyKaigi2009 で行われた、tDiary の開発者と利用者が交流するイベント
  %li
    田舎Ruby親方会議: RubyKaigi2009 で行われた、東京以外で Ruby をビジネスに活用している経営者の親睦を深める会
  %li
    Termtter会議: RubyKaigi2009 で行われた、Termtter のハッカソン
  %li
    toRuby出張版: RubyKaigi2009 で行われた、toRuby の勉強会
  %li
    jpmobile会議: RubyKaigi2008 で行われた、jpmobile 開発者の悩みを聞いてあげる会合
  %li
    Ruby開発者会議: RubyKaigi2008 などで行われた、Ruby 開発者が今後の Ruby 開発に関する議論を行うイベント
  %li
    ワークショップ企画: 東京RubyKaigi03 で行われる予定の、Rails のハンズオンや、折り紙のチュートリアル
%p.spec
  応募方法
%p
  応募には次のような項目が必要になります。
%ul
  %li
    企画名（〜会議で終わる必要はありません）
  %ul
    %li
      英語必須
  %li
    企画責任者（名前, 所属, メールアドレス）
  %li
    企画概要
    %ul
      %li
        英語必須。サポートします
  %li
    参加人数見積り（部屋割りの参考にします）
    %ul
      %li
        2F 中会議室をあてる予定です
      %li
        フロアガイド
        %a{ :href => "http://www.epochal.or.jp/floor_guide/index.html" }http://www.epochal.or.jp/floor_guide/index.html
  %li
    必要な設備
  %li
    希望する開催曜日（金、土、日、どれでも）
  %li
    必要な時間（1時間単位。最大6時間）
  %li
    その他、連絡事項
%p
  楽しい企画のご応募を期待しています。
%p.spec
  注意事項
%ul
%p
  多くの日本人以外の Rubyist が RubyKaigi に参加するため、英語での発表情報提供にご協力ください。英語に自信が無い方は応募時にその旨お伝えください。スタッフができる範囲でお手伝いします。
%p
  設備は、机、プロジェクタは必ず用意する予定です。ネットワーク（無線Lan接続）は、多分用意する予定ですが、確約はできません。その他、必要な設備があれば準備できるものなら準備します。
%p
  当日の机の配置などの準備、および後始末は、基本的に企画責任者に責任をもって行ってもらいます。RubyKaigi2010 のスタッフは、基本的にはお手伝いしませんのでご了承下さい。
%p
  事前にRuby会議会議（企画責任者会議）を開催するかもしれません（開催地は東京の予定です）。その場合には、可能な範囲で出席していただけると助かります。
%p.spec
  日程
%ul
  %li
    募集締切: 2010 年 4 月 28 日(水)
  %li
    募集結果発表: 2010 年 5 月
  %li
    RubyKaigi2010: 2010 年 8 月 27 日(金)、28 日(土)、29日(日)
%p.spec
  選考方法
%p
  RubyKaigi2010 スタッフにより選考いたします。
%p.spec
  お問い合わせ
%p
  何か不明な点があれば、2010 at rubykaigi.org までお気軽にお問い合わせください。
%h2
  %a{ :href => "https://spreadsheets.google.com/a/rubykaigi.org/viewform?formkey=dHRoTWxfUHVQbS1OTU5kd2ZHRzN1aWc6MA" }
    RubyKaigi2010の企画(Sub-Event)に応募する
.form_caution
  応募フォームは日本語・英語とで共用しているため、フォーム項目の記述が英語になっています。ご理解とご協力をお願いします。英語が得意ではない方については、スタッフができる範囲でお手伝いしますので、フォームにその旨を記入してください。
