%div#content
  %h1
    当日スタッフ募集について
  %h2
    "I WANT YOU for RubyKaigi2010"
  %p
    日本 Ruby 会議 2010では、若干名の当日スタッフを募集します。当日の設営・準備から会期中の進行のサポート、終了後の撤収をつつがなく行えるようにするためのサポートスタッフ、ならびに KaigiFreaks としてセッションや会場の様子を録画・配信・レポートでお届けするお仕事です。
  %p
    以下にあります当日スタッフの位置付けと応募方法、〆切の案内に目を通していただいた上で、ご応募ください。採用可否はメールで連絡さしあげます。
  %p
    Ruby以外のコミュニティの方でも、RubyKaigi の運営や配信ノウハウに興味のある方の応募を歓迎します。
  %p
    ご応募お待ちしています。
  %h3
    当日スタッフの位置づけ
  %ul
    %li 完全ボランティア。スタッフTシャツは支給しますが、金銭的報酬はありません。交通費支給は学生のみとなります。
    %li チケットを購入することなく RubyKaigi 2010 に参加できます。
    %li でも、仕事によっては見れない発表があることも。
    %li 大規模イベントの運営や進行を体験することができます。また、KaigiFreaks となった場合には日本有数のスタッフによる録画配信の技術を学ぶことができます。
    %li 前日(8/26(木))の準備から手伝ってくれると嬉しいですが、必須ではありません。
    %li 事前に都内で打ち合わせをやるかもしれません(やらないかもしれません)。参加は必須ではありません。
  %h3
    応募方法
  %p
    応募には次のような項目が必要になります。
  %ul
    %li お名前
    %li メールアドレス(返信可能なメールアドレスの使用をお願いします)
    %li お住まい(だいたいで結構です。事前打ち合わせの参加規模を調査するためです)
    %li 希望する役割 (サポートスタッフ・KaigiFreaks・どちらでも)
    %li 参加可能な日程 (8/26(木)夜・8/27(金)・8/28(土)・8/29(日))
    %li ひとこと
  %h3
    日程
  %ul
    %li 応募締切: 2010 年 6 月 5 日(土)
    %li 採用結果通知: 2010 年 6 月上旬
  %h3
    お問い合わせ
  %p
    何か不明な点があれば、2010 at rubykaigi.org までお気軽にお問い合わせください。
  %div{:style=>'border:2px solid #8d8882;margin:30px 5px;padding:10px;font-size:24px;text-align:center;'}
    %a{ :href => "https://spreadsheets.google.com/viewform?formkey=dGM3a3V5N0RZSUF1bV9uYnUwQnZZeGc6MQ"}
      %span{:style=> 'font-weight:bold'} RubyKaigi2010の当日スタッフに応募する
