%div#content
  %h1
    お知らせ
  != render :partial => 'shared/headline'
  %p
    その他、日本Ruby会議2010の最新情報は、
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010;year=2010" }<
      RubyKaigi日記
    \&nbsp;(
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010" }<
      RubyKaigi2010関連のみ表示
    )もあわせて参照ください。
  -#!= render :partial => 'shared/add_feed'

  %h2
    開催概要
  %ul
    %li
      名称: 日本Ruby会議2010 (RubyKaigi2010) 
    %li
      会期: 2010 年 8 月 27 日(金)・28 日(土)・29 日(日)
    %li
      会場:
      %a{ :href => "http://www.epochal.or.jp/", :target => "_blank" }
        つくば国際会議場
      (茨城県つくば市) 
    %li
      料金: 決定次第お知らせします
    %li
      会期中はKaigiFreaksによるUstream.tv経由でのストリーミング配信を予定しています。配信品質はベストエフォートです。
    %li
      公式タグ:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010", :target => "_blank" }
        rubykaigi2010
    %li
      公式ハッシュタグ:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi", :target => "_blank" }
        \#rubykaigi
    %li
      主催: 日本Ruby会議2010実行委員会, Rubyアソシエーション, 日本Rubyの会
  %h2
    基調講演
  %ul
    %li
      まつもとゆきひろ
    %li
      Chad Fowler
    %li
      Jeremy Kemper
  %h2
    プレゼンテーション発表
  %p (登壇予定者の速報です。詳細は追って告知いたします)
  %p
    okkez, Jake Scruggs, Shay Friedman, paulelliott, Kenta Murata, Hideki Miura, Yasuko Ohba, Tanaka Akira, Masatoshi SEKI, Carl Lerche, Toshiyuki Terashita, geemus, tenderlove, Paolo "Nusco" Perrotta, Alex Sharp, nari, Shugo Maeda, Yusuke Endoh, Jiang Wu, Munjal Budhabhatti And Sudhindra Rao, Sarah Allen, Sarah Mei, Yehuda Katz, Ted Han, Shin-ichiro OGAWA, Tom Lieber, Masahiro Tanaka, Hiroshi Yoshioka, SHIBATA Hiroshi, Makoto Kuwata, jugyo, Kazuhiro NISHIYAMA, Shintaro Kakutani, Satoshi Shiba, Tetsu Soh, ujihisa, Makoto Inoue, Masaki Yamada, Kouhei Sutou, Yuki Sonoda, Kei Hamanaka , Yuichi Saotome
  %h2
    企画
  %p (企画責任者の速報です。正式な企画の名前などの詳細は追って告知いたします)
  %p
    Yasuo Yoshikawa, Kuniaki IGARASHI, MOROHASHI Kyosuke, kumaryu, Akio Tajima aka arton, Kazuhiko, Shouichi Nakauchi, Hiroyuki Shimura, Takeyuki FUJIOKA, Koichiro Ohba, Kazuaki Takase, Koji Shimada, Ayumu Aizawa, Ouka Yuka, and Ruby core team.
  %h2
    日本Ruby会議2010でおこなう発表と企画を募集しています
  %p
    RubyKaigi2010では例年実施しているのプレゼンテーション発表に加えて、今年は新しく「企画」を前もって募集します。発表はそれぞれ、次のリンク先にある募集要項をお読みのうえ、フォームから応募してください。皆さまからのたくさんのご応募お待ちしております。
  %p
    %strong
      %a.mark{ :href => "/2010/ja/CallForPresentationProposals.html" }
        日本Ruby会議2010での発表を募集します
  %p
    %strong
      %a.mark{ :href => "/2010/ja/CallForSubEventProposals.html" }
        日本Ruby会議2010での「企画」を募集します
  %h2
    日本Ruby会議2010ではスポンサーを募集しています
  %p
    日本Ruby会議2010ではカンファレンスのスポンサーを募集しております。詳細は
    %a{ :href => "/2010/ja/CallForSponsors.html" }<
      スポンサー募集ページ
    をご覧ください。日本最大規模のRubyのカンファレンスを一緒につくっていただける皆さまからの応募を心よりお待ちしております。
