%div#content
  %h1
    お知らせ
  %h2
    新着情報
  %ul#news
    - unless @headlines.empty?
      - @headlines.each do |h|
        %li
          l(h.time.to_date, :format => :long)
          != link_to h(h.title), h.link
    - else
      %li (お知らせはありません)
  %p
    その他、日本Ruby会議2010の最新情報は、
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010;year=2010" }
      RubyKaigi日記
    \&nbsp;(
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010" }
      RubyKaigi2010関連のみ表示
    )もあわせて参照ください。
  %h2
    日本Ruby会議2010
  %p
    日本Ruby会議は、オブジェクト指向スクリプト言語Rubyに関するイベントとしては世界でも最大級のもので、2006年から毎年開催されています。昨年東京で開催された日本Ruby会議2009は、3日間でのべ2000人ほどの来場者を数えました。
  %p
    その第5回目となる日本Ruby会議2010(略称:RubyKaigi2010)は、2010年8月27日から29日までの３日間、つくば国際会議場(茨城県つくば市)にて開催いたします。
  %p
    会場の規模としては昨年以上のものとなり、これまで以上の多くの参加を見込んでいます。
  %p
    RubyKaigi2010のテーマは、「Conflicts and Resolutions(衝突と解決)」です。
  %p
    RubyKaigiでは、毎年テーマを決めています。RubyKaigi2007では「2007年のRubyが見える、2007年のRubyに会える」、RubyKaigi2008では「多様性」、RubyKaigi2009では「変わる・変える」をテーマにしていました。こういったテーマのもと、まず現在のRubyの姿を見定めた後、そこから様々な姿に広がりつつ状況を踏まえ、さらにその先の変化を求めてきました。
  %p
    しかしながら、多様な姿を肯定する一方で、それらが互いに関わりを持たず、 独自に動いているだけでは、「Ruby」という名で呼び合う意味もなくなるかもしれません。そのために、成長と発展のきっかけを見逃してしまう恐れもあります。
  %p
    様々なプラットフォーム、様々な要求、様々な立場の中が現れる中で、互いに距離を感じ、そしてまた、距離を置こうとすることもあります。しかし、時として厳しい思惑の対立を生じる恐れがありながらも、距離を縮め、互いの差異とその克服について真摯に向き合うことが、より豊かなRubyの未来には欠くことができません。
  %p
    多様性を否定するのではなく、それを認めた上で、積極的に摩擦を求め、相互に干渉しあい、よい意味での影響を受け合うための場とする。それが、「Ruby」という大きな括りの名の下で開かれるイベントとしては最大規模のものである、RubyKaigiの責務ではないかと考えます。
  %p
    RubyKaigi2010は、広がり続ける様々なRubyのその先にある、全体としての「Ruby」の可能性を追求していく場となることを目指します。
  %p.right
    日本Ruby会議2010実行委員長&nbsp;高橋征義
  %h2
    開催概要
  %ul
    %li
      名称: 日本Ruby会議2010 (RubyKaigi2010) 
    %li
      会期: 2010 年 8 月 27 日(金)・28 日(土)・29 日(日)
    %li
      会場:
      %a{ :href => "http://www.epochal.or.jp/", :target => "_blank" }
        つくば国際会議場
      (茨城県つくば市) 
    %li
      料金: 決定次第お知らせします
    %li
      会期中はKaigiFreaksによるUstream.tv経由でのストリーミング配信を予定しています。配信品質はベストエフォートです。
    %li
      公式タグ:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010", :target => "_blank" }
        rubykaigi2010
    %li
      公式ハッシュタグ:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi", :target => "_blank" }
        \#rubykaigi
    %li
      主催: 日本Ruby会議2010実行委員会, Rubyアソシエーション, 日本Rubyの会
  %h2
    基調講演
  %ul
    %li
      まつもとゆきひろ
    %li
      Chad Fowler
    %li
      Jeremy Kemper
  %h2
    日本Ruby会議2010でおこなう発表と企画を募集しています
  %p
    RubyKaigi2010では例年実施しているのプレゼンテーション発表に加えて、今年は新しく「企画」を前もって募集します。発表はそれぞれ、次のリンク先にある募集要項をお読みのうえ、フォームから応募してください。皆さまからのたくさんのご応募お待ちしております。
  %p
    %strong
      %a.mark{ :href => "/2010/ja/CallForPresentationProposals.html" }
        日本Ruby会議2010での発表を募集します
  %p
    %strong
      %a.mark{ :href => "/2010/ja/CallForSubEventProposals.html" }
        日本Ruby会議2010での「企画」を募集します
  %h2
    日本Ruby会議2010ではスポンサーを募集しています
  %p
    日本Ruby会議2010ではカンファレンスのスポンサーを募集しております。詳細は
    %a{ :href => "/2010/ja/CallForSponsors.html" }
      スポンサー募集ページ
    をご覧ください。日本最大規模のRubyのカンファレンスを一緒につくっていただける皆さまからの応募を心よりお待ちしております。
