#content
  %h1 
    Ruby スポンサーのご紹介
  %h2
    マイクロソフト株式会社
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "マイクロソフト株式会社", :src => "/2010/sponsors/microsoft.png" }
    #img{ :alt => "", :src => "/2010/sponsors/microsoft_pht01.png" }

      %p.right
        %a.mark{ :href => "http://www.microsoft.com/japan/", :target => "_blank" }
          http://www.microsoft.com/japan/
    %div
      %p
        マイクロソフトは様々な技術領域で、相互運用性の確保に力を入れています。これには、マイクロソフト製以外の開発言語のWindowsプラットフォーム上での開発実行環境の整備も含まれます。.NET FrameworkでのRuby実行環境の実装はその代表的な成果の一つです。
