#content
  %h1 
    Ruby スポンサーのご紹介
  %h2
    株式会社ネットワーク応用通信研究所(NaCl)
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "株式会社ネットワーク応用通信研究所(NaCl)", :src => "/2010/sponsors/nacl.png" }
    %img{ :alt => "", :src => "/2010/sponsors/nacl_pht01.jpg" }
    %ul
      %li
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %p.right
        %a.mark{ :href => "http://www.netlab.jp/", :target => "_blank" }
          http://www.netlab.jp/
    %div
      %h3
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus. Ut a pede ac neque mattis facilisis. Nulla nunc ipsum, sodales vitae, hendrerit non, imperdiet ac, ante. Morbi sit amet mi. Ut magna. Curabitur id est. Nulla velit. Sed consectetuer sodales justo. Aliquam dictum gravida libero. Sed eu turpis. Nunc id lorem. Aenean consequat tempor mi. Phasellus in neque. Nunc fermentum convallis ligula.
      %hr  
      %h3
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus. Ut a pede ac neque mattis facilisis. Nulla nunc ipsum, sodales vitae, hendrerit non, imperdiet ac, ante. Morbi sit amet mi. Ut magna. Curabitur id est. Nulla velit. Sed consectetuer sodales justo. Aliquam dictum gravida libero. Sed eu turpis. Nunc id lorem. Aenean consequat tempor mi. Phasellus in neque. Nunc fermentum convallis ligula.
      %p
        Suspendisse in nulla. Nunc eu ipsum tincidunt risus pellentesque fringilla. Integer iaculis pharetra eros. Nam ut sapien quis arcu ullamcorper cursus. Vestibulum tempor nisi rhoncus eros. Sed iaculis ultricies tellus. Cras pellentesque erat eu urna. Cras malesuada. Quisque congue ultricies neque. Nullam a nisl. Sed convallis turpis a ante. Morbi eu justo sed tortor euismod porttitor. Aenean ut lacus. Maecenas nibh eros, dapibus at, pellentesque in, auctor a, enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam congue pede a ipsum. Sed libero quam, sodales eget, venenatis non, cursus vel, velit. In vulputate.
      %div.center  
        %img{ :alt => "", :src => "/2010/sponsors/nacl_pht02.jpg" }
        %img{ :alt => "", :src => "/2010/sponsors/nacl_pht03.jpg" }
