#content
  %h1 
    Ruby スポンサーのご紹介
  %h2
    株式会社ネットワーク応用通信研究所(NaCl)
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "株式会社ネットワーク応用通信研究所(NaCl)", :src => "/2010/sponsors/nacl.png" }

      %p.right
        %a.mark{ :href => "http://www.netlab.jp/", :target => "_blank" }
          http://www.netlab.jp/
    %div
      %h3
        世界と競い、未来を拓く
      %p
        ソースコードを公開して誰でも自由に利用できるようにし、利用者や他の開発者からのフィードバックを取り入れながら進化を続ける、それがオープンソースソフトウェア（OSS）です。
        株式会社ネットワーク応用研究所（NaCl）では、単にOSSを利用するだけではなく、オブジェクト指向言語Rubyの開発者であるまつもとゆきひろ をはじめ、多くの社員がOSSの開発に貢献し、
        OSSを利用したシステム開発では先進的な実績を残しています。

      %h3
        Ruby、Ruby on Railsによる開発実績の一例
      %ul
        %li
          島根県CMS<br><a href="http://projects.netlab.jp/PrefShimaneCMS/">http://projects.netlab.jp/PrefShimaneCMS/</a>
          <br>
          読み上げ機能や自動ふりがな機能を持つ、Ruby on Rails（Rails）で作られた行政機関向けCMS（コンテンツマネージメントシステム）です。
          OSSとして公開され島根県をはじめとする複数の自治体のwebサイトで採用されています。<br/>
          %img{ :alt => "", :src => "/2010/sponsors/nacl_pht02.jpg" }

        %li
          コンシューマ向けWebアプリケーションの開発支援
          %ul
            %li ＠nifty TimeLine http://timeline.nifty.com/
            %li ＠nifty アバウトミー http://aboutme.jp/central
            %li 食べログ http://tabelog.com/
            %li 松江SNS http://matsuesns.jp/
            %li 等
      %ul
        %li
          その他、業務・基幹系や組み込システムの分野の実績多数

      %h3
        ニーズの高まるRuby教育
      %p
        Rubyへの関心は高まっていますが、技術者確保が課題となっています。NaClではRubyアソシエーションの認定を受けたテキストを提供し、Rubyそのものや、Railsをはじめとする周辺技術に関する教育事業を行っています。
      %p
        認定テキストによる標準コース以外に、初めてのRuby、Railsでの開発に取り組む場合等にお使いいただけるカスタマイズ教育を提供しております。ご相談ください。

      %h3
        OSS「日医標準レセプトソフト」の開発
      %p
        NaClは、全国1万ヶ所以上の医療機関に導入されているオープンソースソフトウェア「日医標準レセプトソフト」の開発会社として、医療現場のIT化を推進しています。
      %hr
      %h3
        NaClについて
      %p
        弊社の通称である「NaCl」は、社名の英語表記「Network AppliedCommunication Laboratory Ltd.」の頭文字であると同時に、生物が生きていくために欠かせない「塩」の化学式でもあります。
        私たちは「NaCl」を塩の化学式にちなみ、「エヌ・エー・シーエル」と呼んでいます。
