#content
  %h1 Gold スポンサーのご紹介 
  %div#sponsors_gold_list.whitebox
    %a{ :name => "waicrew" }
      %img{ :alt => "ワイクル株式会社", :src => "/2010/sponsors/waicrew.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.waicrew.com" }
          ワイクル株式会社
      %p
        好きなメソッドは「Symbol#to_proc」。
    %hr  
    %a{ :name => "clearcode" }
      %img{ :alt => "株式会社クリアコード", :src => "/2010/sponsors/clearcode.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.clear-code.com/recruitment/" }
          株式会社クリアコード
      %p
        クリアコードはRubyやMozilla Firefox/Thunderbirdなどのフリーソフトウェアに関する技術力を提供しています。ソースコードがあればなんとかできますので、フリーソフトウェアに関してお困りのことがあればご相談ください。
    %hr  
    %a{ :name => "recruit" }
      %img{ :alt => "株式会社リクルート メディアテクノロジーラボ", :src => "/2010/sponsors/recruit.png" }
    %div
      %h2
        %a.mark{ :href => "http://mtl.recruit.co.jp/" }
          株式会社リクルート　メディアテクノロジーラボ
      %p
        株式会社リクルートの実証研究機関であるメディアテクノロジーラボは、昨年に引き続いて、今年も日本 Ruby 会議 2010 を応援します。メディアテクノロジーラボは、リクルートが培ってきたメディアの知見と、テクノロジーの観点から、新たなメディアやコミュニケーションのありかたを
        研究開発することを通じて、生活者にとって適切で利便性の高い情報流通が行われる豊かな情報社会の実現を目指しています。
    %hr  
    %a{ :name => "contentsone" } 
      %img{ :alt => "株式会社コンテンツワン", :src => "/2010/sponsors/contentsone.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.contents-one.co.jp" }
          株式会社コンテンツワン
      %p
        Rubyともに歩み続けて早4年。Ruby on Railsセミナー開催もすでに20回を超えました。これからもRubyとともに、Rubyistの皆さんとともに歩んでいきたいと思います。そして2010年は、もう１つのテーマ、ソーシャルアプリにも取り組みます。よろしくお願いします。
    %hr  
    %a{ :name => "enishitech" } 
      %img{ :alt => "株式会社えにしテック", :src => "/2010/sponsors/enishitech.png" }
    %div
      %h2
        %a.mark{ :href => "http://enishi-tech.com" }
          株式会社えにしテック
      %p
        株式会社えにしテックは、システム開発、運用保守、インターネット向けサービスの開発運営などを主な業務とする札幌の会社です。私たちは、情報サービスという形で日々の営みに彩りを添え、その豊かさに貢献することをミッションとしています。
    %hr  
    %a{ :name => "kakakucom" } 
      %img{ :alt => "株式会社カカクコム", :src => "/2010/sponsors/kakakucom.png" }
    %div
      %h2
        %a.mark{ :href => "http://tabelog.com" }
          株式会社カカクコム
      %p
        カカクコムは、購買支援サイト「価格.com」や、ランキングとクチコミのグルメサイト「食べログ」などを筆頭に、消費生活のあらゆるシーンで選択をサポートするインターネットメディアを運営しています。
    %hr  
    %a{ :name => "temona" } 
      %img{ :alt => "TEMONA株式会社", :src => "/2010/sponsors/temona.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.temona.co.jp" }
          TEMONA株式会社
      %p
        「仕事は100% Ruby on Rails!!」TEMONAは、通販のある特化したちょっと変わった「たまごカート」というASPサービスを販売しております。もちろんサービスは全てRoRで構成されており、社長はじめ社員全員Rubyに染まってる会社です。社員募集中!!
    %hr  
    %a{ :name => "pex" } 
      %img{ :alt => "株式会社PeX", :src => "/2010/sponsors/pex.png" }
    %div
      %h2
        %a.mark{ :href => "http://pex.jp/" }
          株式会社PeX
      %p
        「PeX」は、提携する様々なサービスを使って貯めたポイントをPeXポイントに交換し、一つにまとめて管理することができるポイント交換サービスです。PeXに集めたポイントは有効期限を気にすることなく、PeXを通じて使いたいサービスや商品、電子マネーや現金、マイレージなどに交換することができます。
    %hr  
    %a{ :name => "towersquest" } 
      %img{ :alt => "タワーズ・クエスト株式会社", :src => "/2010/sponsors/towersquest.png" }
    %div
      %h2
        %span
          タワーズ・クエスト株式会社
      %p
        タワーズ・クエストは、平成2年の創業以来、一貫して「社会のための技術」を求め、少数精鋭主義を貫く技術会社です。アジャイルプロセス、テスト駆動開発、大規模データベース設計、RESTfulWebアプリケーション設計開発などの強みを生かし、お客様の満足のために日々努力してまいります。



