#content
  %h1 日本Ruby会議2010のスポンサーの皆さま

  %h2
    %a{:name => 'ruby'}
      Ruby Sponsor
  %p (調整中)

  %h2
    %a{:name => 'platinum'}
      Platinum Sponsor
  %p (調整中)

  %h2
    %a{:name => 'gold'}
      Gold Sponsor
  %p (調整中)

  != render :partial => 'shared/individual_sponsors'
