#content
  %h1 Gold スポンサーのご紹介
  %div#sponsors_gold_list.whitebox
    %a{ :name => "waicrew" }
      %img{ :alt => "ワイクル株式会社", :src => "/2010/sponsors/waicrew.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.waicrew.com" }
          ワイクル株式会社
      %p
        好きなメソッドは「Symbol#to_proc」。
    %hr
    %a{ :name => "clearcode" }
      %img{ :alt => "株式会社クリアコード", :src => "/2010/sponsors/clearcode.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.clear-code.com/" }
          株式会社クリアコード
      %p
        クリアコードはRubyやMozilla Firefox/Thunderbirdなどのフリーソフトウェアに関する技術力を提供しています。ソースコードがあればなんとかできますので、フリーソフトウェアに関してお困りのことがあればご相談ください。
    %hr
    %a{ :name => "recruit" }
      %img{ :alt => "株式会社リクルート メディアテクノロジーラボ", :src => "/2010/sponsors/recruit.png" }
    %div
      %h2
        %a.mark{ :href => "http://mtl.recruit.co.jp/" }
          株式会社リクルート　メディアテクノロジーラボ
      %p
        メディアテクノロジーラボは、リクルートが培ってきたメディアの知見と、テクノロジーの観点から、新たなメディアやコミュニケーションのありかたを研究開発することを通じて、生活者にとって適切で利便性の高い情報流通が行われる豊かな情報社会の実現を目指しています。
    %hr
    %a{ :name => "contentsone" }
      %img{ :alt => "株式会社コンテンツワン", :src => "/2010/sponsors/contentsone.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.contents-one.co.jp" }
          株式会社コンテンツワン
      %p
        Rubyともに歩み続けて早4年。Ruby on Railsセミナー開催もすでに20回を超えました。これからもRubyとともに、Rubyistの皆さんとともに歩んでいきたいと思います。そして2010年は、もう１つのテーマ、ソーシャルアプリにも取り組みます。よろしくお願いします。
    %hr
    %a{ :name => "enishitech" }
      %img{ :alt => "株式会社えにしテック", :src => "/2010/sponsors/enishitech.png" }
    %div
      %h2
        %a.mark{ :href => "http://enishi-tech.com" }
          株式会社えにしテック
      %p
        株式会社えにしテックは、システム開発、運用保守、インターネット向けサービスの開発運営などを主な業務とする札幌の会社です。私たちは、情報サービスという形で日々の営みに彩りを添え、その豊かさに貢献することをミッションとしています。
    %hr
    %a{ :name => "kakakucom" }
      %img{ :alt => "株式会社カカクコム", :src => "/2010/sponsors/kakakucom.png" }
    %div
      %h2
        %a.mark{ :href => "http://tabelog.com" }
          株式会社カカクコム
      %p
        カカクコムは、購買支援サイト「価格.com」や、ランキングとクチコミのグルメサイト「食べログ」などを筆頭に、消費生活のあらゆるシーンで選択をサポートするインターネットメディアを運営しています。
    %hr
    %a{ :name => "temona" }
      %img{ :alt => "TEMONA株式会社", :src => "/2010/sponsors/temona.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.temona.co.jp" }
          TEMONA株式会社
      %p
        「仕事は100% Ruby on Rails!!」TEMONAは、通販のある特化したちょっと変わった「たまごカート」というASPサービスを販売しております。もちろんサービスは全てRoRで構成されており、社長はじめ社員全員Rubyに染まってる会社です。社員募集中!!
    %hr
    %a{ :name => "pex" }
      %img{ :alt => "株式会社PeX", :src => "/2010/sponsors/pex.png" }
    %div
      %h2
        %a.mark{ :href => "http://pex.jp/" }
          株式会社PeX
      %p
        「PeX」は、提携する様々なサービスを使って貯めたポイントをPeXポイントに交換し、一つにまとめて管理することができるポイント交換サービスです。PeXに集めたポイントは有効期限を気にすることなく、PeXを通じて使いたいサービスや商品、電子マネーや現金、マイレージなどに交換することができます。
    %hr
    %a{ :name => "towersquest" }
      %img{ :alt => "タワーズ・クエスト株式会社", :src => "/2010/sponsors/towersquest.png" }
    %div
      %h2
        %a.mark{ :href => "#"}
          タワーズ・クエスト株式会社
      %p
        タワーズ・クエストは、平成2年の創業以来、一貫して「社会のための技術」を求め、少数精鋭主義を貫く技術会社です。アジャイルプロセス、テスト駆動開発、大規模データベース設計、RESTfulWebアプリケーション設計開発などの強みを生かし、お客様の満足のために日々努力してまいります。
    %hr

    %a{ :name => "cuon" }
      %img{ :alt => "株式会社クオン", :src => "/2010/sponsors/cuon.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.cuon.co.jp/"}
          株式会社Cuon（クオン）
      %p 弊社は、Ruby on Railsによる業務システム開発が得意な会社です。
      %p お客様が価値を感じるシステムのために、迅速な開発を行っています。

    %hr
    %a{ :name => "rabbix" }
      %img{ :alt => "有限会社ラビックス", :src => "/2010/sponsors/rabbix.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.rabbix.jp"}
          有限会社ラビックス
      %p
        ラビックスは福島県福島市にある、ウェブサービスベンダーです。現在、安否確認システムを中心とするサービスを展開しています。
    %hr

    %a{ :name => "rlearning" }
      %img{ :alt => "株式会社アールラーニング", :src => "/2010/sponsors/rlearning.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.r-learning.co.jp/"}
          株式会社アールラーニング
      %p
        弊社はSI事業とRailsやandroidを用いた自社開発及びRubyを中心とした教育を取り揃えた会社です。4年前からRubyに注目しRailsによるグループウェア等の開発を行い、5月には"プッシュ型情報共有ソリューション「UGUISU」"をリリースしました。
    %hr

    %a{ :name => "rakuten" }
      %img{ :alt => "楽天株式会社", :src => "/2010/sponsors/rakuten.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.rakuten.co.jp"}
          楽天株式会社
      %p
        楽天はインターネットショッピングモール「楽天市場」をはじめとして、複数の事業を多角的に運営し、「日本発」の企業として台湾、ヨーロッパ、アメリカなどグローバルに事業規模を拡げています。
      %p
        事業の基盤となるテクノロジーの開発をほぼ自社内で行っており、『人財』としてのエンジニアを大切にしています。

    %hr

    %a{ :name => "fujitsu" }
      %img{ :alt => "株式会社富士通ソーシアルサイエンスラボラトリ", :src => "/2010/sponsors/fujitsu.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.ssl.fujitsu.com/"}
          株式会社富士通ソーシアルサイエンスラボラトリ
      %p
        富士通SSLは、ソフトウェア開発・システム構築を中心に事業を展開してきました。現在、それらの技術をもとにした『PoweredSolution』の他、オープンソースソフトウェア(OSS)環境に対応できる高い技術力と万全なサポートで、安心してご利用いただけるOSS環境をご提供します。

    %hr

    %a{ :name => "everleaf" }
      %img{ :alt => "株式会社万葉", :src => "/2010/sponsors/everleaf.png" }
    %div
      %h2
        %a.mark{ :href => "http://everyleaf.com/"}
          株式会社万葉
      %p
        Ruby on Railsを使ったWebアプリケーション開発を主に行っています。オフィスではよく技術勉強会が開かれ、社内外の元気なエンジニアが集います。Web家計簿「小槌」、蔵書管理システム「BookScope」、iPhoneアプリ「iCarta」等を公開中です。
    %hr

    %a{ :name => "ey-office" }
      %img{ :alt => "有限会社イーワイオフィス", :src => "/2010/sponsors/sponsor_gold.gif" }
    %div
      %h2
        %a.mark{ :href => "http://www.ey-office.com/"}
          有限会社イーワイオフィス
      %p Ruby言語、Ruby on Railsの実践的な教育ならEY-Office。　
      %p 詳細は<a href="http://www.ey-office.com/">http://www.ey-office.com/</a>
    %hr

    %a{ :name => "tmix" }
      %img{ :alt => "tmix", :src => "/2010/sponsors/tmix.png" }
    %div
      %h2
        %a.mark{ :href => "http://tmix.jp/"}
          tmix
    %hr

    %a{ :name => "hokkaido" }
      %img{ :alt => "北海道情報大学", :src => "/2010/sponsors/sponsor_gold.gif" }
    %div
      %h2
        %a.mark{ :href => "http://www.do-johodai.ac.jp/"}
          北海道情報大学
      %p 北海道情報大学（ＨＩＵ）は、明日の高度情報通信社会の担い手にふさわしいＩＴ技術と知識、及びそれを支える幅広い教養と各種専門分野にまたがる知識の習得に裏打ちされた高度ＩＴ技術者を育成し、情報の総合大学としてＩＴ社会の発展に寄与することを目標にして、教育・研究を行っています。
    %hr

    %a{ :name => "scaleout" }
      %img{ :alt => "株式会社スケールアウト", :src => "/2010/sponsors/sponsor_gold.gif" }
    %div
      %h2
        %a.mark{ :href => "http://www.scaleout.jp/"}
          株式会社スケールアウト
      %p 弊社はRailsベースの広告配信システム「ScaleAds」を開発・販売しております。
      %p 1日に数億～数10億を超えるような広告配信をリーズナブルに行いたいとお考えの企業様はお気軽にご用命ください
    %hr

    %a{ :name => "antas" }
      %img{ :alt => "株式会社アンタス", :src => "/2010/sponsors/sponsor_gold.gif" }
    %div
      %h2
        %a.mark{ :href => "http://antas.jp/"}
          株式会社アンタス
      %p
        アンタスはシステム開発、運用保守、インターネットサービス運営を主業務とする札幌の企業で、特にRubyに力を入れています。
      %p
        Railsベースの自社CMSパッケージの他、画像検索エンジン<a href="http://imagecruiser.jp/">ImageCruiser</a>や雑誌社向け業務システム等に積極的にRubyを採用しています。
