#content
  %h1 日本Ruby会議2010のスポンサーの皆さま
  %h2
    %a{:name => 'ruby'}
      Ruby Sponsor
  %div#sponsors_ruby.whitebox.center
    %p
      %a{ :href => "/2010/NaCl"}
        %img{ :alt => "株式会社ネットワーク応用通信研究所", :src => "/2010/sponsors/nacl.png" }
      %a{ :href => "/2010/Ricoh"}
        %img{ :alt => "株式会社リコー(Ricoh)", :src => "/2010/sponsors/ricoh.png" }
      %a{ :href => "/2010/Microsoft"}
        %img{ :alt => "マイクロソフト株式会社", :src => "/2010/sponsors/microsoft.png" }

  %h2
    %a{:name => 'platinum'}
      Platinum Sponsor
  %div#sponsors_platinum.whitebox.center
    %p
      %a{ :href => "/2010/SponsorsPlatinum#esm"}
        %img{ :alt => "株式会社永和システムマネジメント", :src => "/2010/sponsors/esm.png" }
      %a{ :href => "/2010/SponsorsPlatinum#nifty"}
        %img{ :alt => "ニフティ株式会社", :src => "/2010/sponsors/nifty.png" }

  %h2
    %a{:name => 'gold'}
      Gold Sponsor
  %div#sponsors_gold.whitebox
    %p
      %a{ :href => "/2010/SponsorsGold#waicrew"}
        %img{ :alt => "ワイクル株式会社", :src => "/2010/sponsors/waicrew.png" }
      %a{ :href => "/2010/SponsorsGold#clearcode"}
        %img{ :alt => "株式会社クリアコード", :src => "/2010/sponsors/clearcode.png" }
      %a{ :href => "/2010/SponsorsGold#recruit"}
        %img{ :alt => "株式会社リクルート", :src => "/2010/sponsors/recruit.png" }
      %a{ :href => "/2010/SponsorsGold#contentsone"}
        %img{ :alt => "株式会社コンテンツワン", :src => "/2010/sponsors/contentsone.png" }
      %a{ :href => "/2010/SponsorsGold#enishitech"}
        %img{ :alt => "株式会社えにしテック", :src => "/2010/sponsors/enishitech.png" }
      %a{ :href => "/2010/SponsorsGold#kakakucom"}
        %img{ :alt => "株式会社カカクコム", :src => "/2010/sponsors/kakakucom.png" }
      %a{ :href => "/2010/SponsorsGold#temona"}
        %img{ :alt => "TEMONA株式会社", :src => "/2010/sponsors/temona.png" }
      %a{ :href => "/2010/SponsorsGold#pex"}
        %img{ :alt => "株式会社PeX", :src => "/2010/sponsors/pex.png" }
      %a{ :href => "/2010/SponsorsGold#towersquest"}
        %img{ :alt => "タワーズ・クエスト株式会社", :src => "/2010/sponsors/towersquest.png" }
      %a{ :href => "/2010/SponsorsGold#cuon"}
        %img{ :alt => "株式会社クオン", :src => "/2010/sponsors/cuon.png" }
      %a{ :href => "/2010/SponsorsGold#rabbix"}
        %img{ :alt => "有限会社ラビックス", :src => "/2010/sponsors/rabbix.png" }
      %a{ :href => "/2010/SponsorsGold#rlearning"}
        %img{ :alt => "株式会社アールラーニング", :src => "/2010/sponsors/rlearning.png" }
      %a{ :href => "/2010/SponsorsGold#rakuten"}
        %img{ :alt => "楽天株式会社", :src => "/2010/sponsors/rakuten.png" }
      %a{ :href => "/2010/SponsorsGold#fujitsu"}
        %img{ :alt => "株式会社富士通ソーシアルサイエンスラボラトリ", :src => "/2010/sponsors/fujitsu.png" }
      %a{ :href => "/2010/SponsorsGold#everleaf"}
        %img{ :alt => "株式会社万葉", :src => "/2010/sponsors/everleaf.png" }
      %a{ :href => "/2010/SponsorsGold#"}
        %img{ :alt => "", :src => "/2010/sponsors/sponsor_gold.gif" }
      %a{ :href => "/2010/SponsorsGold#tmix"}
        %img{ :alt => "tmix", :src => "/2010/sponsors/tmix.png" }
      %a{ :href => "/2010/SponsorsGold#hokkaidoinformationuniversity"}
        %img{ :alt => "北海道情報大学", :src => "/2010/sponsors/hokkaidoinformationuniversity.png" }
      %a{ :href => "/2010/SponsorsGold#scaleout"}
        %img{ :alt => "株式会社スケールアウト", :src => "/2010/sponsors/scaleout.png" }
      %a{ :href => "/2010/SponsorsGold#"}
        %img{ :alt => "", :src => "/2010/sponsors/sponsor_gold.gif" }
      %a{ :href => "/2010/SponsorsGold#"}
        %img{ :alt => "", :src => "/2010/sponsors/sponsor_gold.gif" }

  != render :partial => 'shared/individual_sponsors'
