#content
  %h1 
    Twitter
  %h2
    みんなのツイート
  %script{ :src => "/2010/javascripts/widget.js", :type => "text/javascript" }
  :javascript
    new TWTR.Widget({
    version: 2,
    type: 'search',
    search: '#rubykaigi',
    interval: 6000,
    title: 'Twitter #rubykaigi',
    subject: '',
    width: 'auto',
    height: 400,
    theme: {
    shell: {
    background: '#ffffff',
    color: '#999999'
    },
    tweets: {
    background: '#ffffff',
    color: '#302b2b',
    links: '#8b8989'
    }
    },
    features: {
    scrollbar: true,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
    }
    }).render().start();
  %h2
    @rubykaigiのツイート
  :javascript
    new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 30,
    interval: 6000,
    width: 'auto',
    height: 400,
    theme: {
    shell: {
    background: '#ffffff',
    color: '#999999'
    },
    tweets: {
    background: '#ffffff',
    color: '#302b2b',
    links: '#000000'
    }
    },
    features: {
    scrollbar: true,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'default'
    }
    }).render().setUser('rubykaigi').start();
  %p.right
    %a.noborder{:href => "http://www.twitter.com/rubykaigi"}
      %img{ :alt => "Follow rubykaigi on Twitter", :src => "/2010/images/twitter_followme_btn.png", :target => "_blank" }