<p>
  <b>Start at:</b>
  <%=h @time_slit.start_at %>
</p>

<p>
  <b>End at:</b>
  <%=h @time_slit.end_at %>
</p>


<%= link_to 'Edit', edit_time_slit_path(@time_slit) %> |
<%= link_to 'Back', time_slits_path %>