#content
  %h1 Call for illustrations for RubyKaigi 2010!
  %p Freely express your RubyKaigi 2010 image!
  %p RubyKaigi 2010 requests submissions of illustrations for novelty items including staff T-shirts.
  %p RubyKaigi is an annual international conference on Ruby, an object-oriented programming scripting language. The conference started since 2006. RubyKaigi has been offered the main artwork to _why, famous for "Why's (poignant) Guide to Ruby" (CHUNKY BACON!), from the beginning. However, we missed him from last summer at all. So we started to look for someone who gives us the artwork.
  %p How about making RubyKaigi fascinating by your illustration? We are looking forward to your splendid, attractive illustration.
  %h2 Application Guideline
  %p Submit as the format below:
  %ul
    %li Size: from 2048px x 2048px to 4096px x 4096px
    %li Color mode: RGB
    %li File format: JPEG, PNG, BMP, or TIFF
  %ul
    %li You do not need to prepare a vector format for submission. However, we may ask the winner to provide it (We do not consider the existence of a vector format as a criteria)
    %li Do not include the dates of events
    %li Use single color (We will change the color based on T-shirts' fabric)
    %li One submission per person
  %h2 How to Apply
  %p Send an E-mail with required items below and your work as attachment to "2010 at rubykaigi.org".
  %p Required items:
  %ol
    %li Name or Nickname
    %li E-Mail address
    %li Title
    %li Concept of your work (140 characters)
  %h2 Dead line
  %p
    %strike> May, 16, 2010 (Sun) 23:59 (JST)
    May, 31, 2010 (Mon) 23:59 (JST)
  %h2 Notification
  %p June, 1, 2010 (Tue) 10:00 (JST)
  %p
    The winner will be announced at the
    - succeed "," do
      %a{:href => "http://rubykaigi.org/", :title => "RubyKaigi"} official site
    and will be contacted by the RubyKaigi 2010 team by E-mail.
  %h2 Award
  %p Winner: 1 person
  %ul
    %li invitation to RubyKaigi 2010 (conference and reception)
    %li adoption to novelty items
    %li a set of novelty items
  %h2 See also
  %p The artwork of RubyKaigi 2009 (by why the lucky stiff)
  %p
    %img{:alt => "", :height => "491", :src => "/2009/images/kaigi2009-compucats-invert.png", :width => "520"}/
  %h2 Notice
  %ul
    %li The submission should be absolutely original, and unpublished in the world
    %li You should not submit your work to other contests. If we found that, we would cancel the prize
    %li If we found the selected work is identical or similar to existing work, or infringes someone's rights, we would cancel the prize. In case the selected work had rights issue, the applicant should take all responsibilities for the compensation, and RubyKaigi 2010 team does not take any responsibilities
    %li We may overlay our logo or trim the selected design
    %li We may modify the selected design partially
    %li The personal information of applicants are only used for the winning announcement and notification, not for any other purpose. We will dispose all personal information after the selection
    %li We do not return your submissions
    %li We do not accept any questions about the selection
  %h2 License
  %p
    The rights of the selected design will be
    - succeed "." do
      %a{:href => "http://creativecommons.org/licenses/by/2.1/jp/deed.en", :title => "Creative Commons &mdash; Attribution 2.1 Japan"} CC-by-2.1
    We request you to permit copy, distribute, transmit, to adapt the submitted work with your credit.
  %h2 Questions?
  %p If you have any questions, feel free to email us via 2010 at rubykaigi.org.
