#content
  %h1 RubyKaigi 2010 is looking for Sponsors.
  %p
    RubyKaigi 2010 is seeking organizations to sponsor the conference. RubyKaigi is a highly international conference, attracting participants and speakers from many countries, including Japan, the United States, China, Australia, Germany, Canada, South Africa, Egypt, France and many others. RubyKaigi is a fantastic opportunity to promote your organization.
  %p
    For further details, please refer to the PDF linked below. Please direct all enquiries to 2010 AT rubykaigi.org
  %h2
    %a{ :href => "/2010/files/rubykaigi2010_prospectus_en.pdf" }
      RubyKaigi 2010: Sponsor Prospectus (PDF)
  %p
    Consider becoming a conference sponsor, and help us build a fantastic international Ruby conference.
