%div#content
  %h1
    INFORMATION
  != render :partial => 'shared/headline'
  -#!= render :partial => 'shared/add_feed'

  %h2
    RubyKaigi2010
  %ul
    %li
      Dates: August 27-29 2010
    %li
      Venue:
      %a{ :href => "http://www.epochal.or.jp/eng/index.html", :target => "_blank" }
        Tsukuba International Congress Center "EPOCHAL TSUKUBA"
      (Tsukuba, Ibaraki, Japan)
    %li
      Fee: (under review)
    %li
      Streaming: Sessions are scheduled to streaming via Ustream.tv. The streaming will be distributed by "KaigiFreaks". The delivery quality is best effort.
    %li
      official tag:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010", :target => "_blank" }
        rubykaigi2010
    %li
      official hash tag:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi", :target => "_blank" }
        \#rubykaigi
    %li
      Organizers: The RubyKaigi 2010 Team, Ruby Association, Nihon Ruby-no-Kai
  %h2
    Keynote Speakers
  %ul
    %li
      Yukihiro &quot;Matz&quot; Matsumoto
    %li
      Chad Fowler
    %li
      Jeremy Kemper
  %h2
    Speakers
  %p (This is quick notification. we'll make an announcement of detail soon.)
  %p
    okkez, Jake Scruggs, Shay Friedman, paulelliott, Kenta Murata, Hideki Miura, Yasuko Ohba, Tanaka Akira, Masatoshi SEKI, Carl Lerche, Toshiyuki Terashita, geemus, tenderlove, Paolo "Nusco" Perrotta, Alex Sharp, nari, Shugo Maeda, Yusuke Endoh, Jiang Wu, Munjal Budhabhatti And Sudhindra Rao, Sarah Allen, Sarah Mei, Yehuda Katz, Ted Han, Shin-ichiro OGAWA, Tom Lieber, Masahiro Tanaka, Hiroshi Yoshioka, SHIBATA Hiroshi, Makoto Kuwata, jugyo, Kazuhiro NISHIYAMA, Shintaro Kakutani, Satoshi Shiba, Tetsu Soh, ujihisa, Makoto Inoue, Masaki Yamada, Kouhei Sutou, Yuki Sonoda, Kei Hamanaka , Yuichi Saotome
  %h2
    Sub-Event Organizers
  %p (This is quick notification. we'll make an announcement of detail soon.)
  %p
    Yasuo Yoshikawa, Kuniaki IGARASHI, MOROHASHI Kyosuke, kumaryu, Akio Tajima aka arton, Kazuhiko, Shouichi Nakauchi, Hiroyuki Shimura, Takeyuki FUJIOKA, Koichiro Ohba, Kazuaki Takase, Koji Shimada, Ayumu Aizawa, Ouka Yuka, and Ruby core team.
  %h2
    We're Calling for (Presentation|Sub-Event) Proposals
  %p
    Want to speak at the RubyKaigi 2010? We'd love to have you! Speaker submissions are due by 23:59 JST on April 28, 2010. For further details, visit the following link.
  %p
    %strong
      %a.mark{ :href => "/2010/en/CallForPresentationProposals.html" }
        Call for Presentation Proposals
  %p
    %strong
      %a.mark{ :href => "/2010/en/CallForSubEventProposals.html" }
        Call for Sub-Event Proposals
  %h2
    RubyKaigi 2010 is looking for Sponsors
  %p
    RubyKaigi 2010 is seeking organizations to sponsor the conference. For further details, visit
    %a{ :href => "/2010/en/CallForSponsors.html" }
      the this link
