#content
  %h1 
    Ruby Sposnsor
  %h2
    Microsoft Co., Ltd.
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "Microsoft Co., Ltd.", :src => "/2010/sponsors/microsoft.png" }

      %p.right
        %a.mark{ :href => "http://www.microsoft.com/japan/", :target => "_blank" }
          http://www.microsoft.com/japan/
    %div
      %p
        Microsoft is making strong efforts to ensure interoperability in various
        technology fronts, including building runtime environment for non-Microsoft
        development languages on Windows platform. Ruby runtime implementation on .NET Framework is one of achievements.
