#content
  %h1 
    Ruby Sponsor
  %h2
    Ntwork Applied Communication Laboratory Ltd.
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "株式会社ネットワーク応用通信研究所(NaCl)", :src => "/2010/sponsors/nacl.png" }

      %p.right
        %a.mark{ :href => "http://www.netlab.jp/", :target => "_blank" }
          http://www.netlab.jp/
