#content
  %h1 
    Ruby Sponsor
  %h2
    Ricoh Company, Ltd.
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "Ricoh Company, Ltd.", :src => "/2010/sponsors/ricoh.png" }

      %p.right
        %a.mark{ :href => "http://www.ricoh.co.jp/" }
          http://www.ricoh.co.jp/
    %div
