#content
  %h1 
    Ruby Sponsor
  %h2
    RICOH
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "株式会社リコー", :src => "/2010/sponsors/ricoh.png" }

      %p.right
        %a.mark{ :href => "http://www.ricoh.co.jp/", :target => "_blank" }
          http://www.ricoh.co.jp/
    %div
