#content
  %h1 Gold Sponsor
  %div#sponsors_gold_list.whitebox.clearfix
    %a{ :name => "waicrew" }
      %img{ :alt => "Waicrew Inc.", :src => "/2010/sponsors/waicrew.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.waicrew.com" }
          Waicrew Inc
      %p
        Our favorite method is "Symbol#to_proc".
    %hr
    %a{ :name => "clearcode" }
      %img{ :alt => "ClearCode Inc.", :src => "/2010/sponsors/clearcode.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.clear-code.com/" }
          ClearCode Inc.
      %p ClearCode provides high technology about free software such as Ruby, Mozilla Firefox/Thunderbird and soon.
      %p Please contact us about free software related troubles. We will resolve your troubles if we have source code.
    %hr
    %a{ :name => "recruit" }
      %img{ :alt => "Media Technology Labs, Recruit Co., Ltd", :src => "/2010/sponsors/recruit.png" }
    %div
      %h2
        %a.mark{ :href => "http://mtl.recruit.co.jp/" }
          Media Technology Labs, Recruit Co., Ltd
      %p The Media Technology Labs is an application research development institute established by Recruit Co., Ltd

    %hr
    %a{ :name => "contentsone" }
      %img{ :alt => "Contents One Inc.", :src => "/2010/sponsors/contentsone.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.contents-one.co.jp" }
          Contents One Inc.

    %hr
    %a{ :name => "enishitech" }
      %img{ :alt => "Enishi Tech Inc.", :src => "/2010/sponsors/enishitech.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.enishi-tech.com" }
          Enishi Tech Inc.
      %p Enishi Tech Inc. is a small software company at Sapporo, a beautiful provincial city of Japan.
      %p We value Enishi and Technology. Enishi is a Japanese word with rich implications.
      %p Enishi implies relationship, link, bond, fate and chance.

    %hr
    %a{ :name => "kakakucom" }
      %img{ :alt => "Kakaku.com, Inc.", :src => "/2010/sponsors/kakakucom.png" }
    %div
      %h2
        %a.mark{ :href => "http://tabelog.com" }
          Kakaku.com, Inc.

    %hr
    %a{ :name => "antas" }
      %img{ :alt => "ANTAS, Inc.", :src => "/2010/sponsors/antas.png" }
    %div
      %h2
        %a.mark{ :href => "http://antas.jp/"}
          ANTAS, Inc.
      %p ANTAS, Inc. is a system development company in Sapporo, Japan.
      %p We aggressively use Ruby for CMS, magazine publishing system, <a href="http://imagecruiser.jp/">ImageCruiser</a> and so on.
    %hr

    %a{ :name => "temona" }
      %img{ :alt => "TEMONA Co. Ltd.", :src => "/2010/sponsors/temona.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.temona.co.jp" }
          TEMONA Co. Ltd.
      %p TEMONA is selling a unique E-commerce ASP service called "Tamago Cart". Of course, all services are made in RoR, and all employees including President are into the Ruby language. Looking for staff!

    %hr
    %a{ :name => "pex" }
      %img{ :alt => "PeX, inc.", :src => "/2010/sponsors/pex.png" }
    %div
      %h2
        %a.mark{ :href => "http://pex.jp/" }
          PeX, inc.
      %p PeX is one of the largest online point exchange services in Japan.

    %hr
    %a{ :name => "towersquest" }
      %img{ :alt => "Towersquest Inc.", :src => "/2010/sponsors/towersquest.png" }
    %div
      %h2
        %a.mark{ :href => "#"}
          Towersquest Inc.
    %hr
    %a{ :name => "cuon" }
      %img{ :alt => "Cuon Inc.", :src => "/2010/sponsors/cuon.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.cuon.co.jp/"}
          Cuon Inc.
      %p Cuon Inc. has specialized in business systems by Ruby on Rails. We have designed and developed agilely the business value for our clients.

    %hr
    %a{ :name => "rabbix" }
      %img{ :alt => "Rabbix Ltd.", :src => "/2010/sponsors/rabbix.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.rabbix.jp"}
          Rabbix Ltd.

    %hr
    %a{ :name => "rlearning" }
      %img{ :alt => "R-learning", :src => "/2010/sponsors/rlearning.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.r-learning.co.jp/"}
          R-learning
      %p Our company is a system integrator that focun on Ruby on Rails and the android development.we excel in collaboration services development.

    %hr
    %a{ :name => "rakuten" }
      %img{ :alt => "Rakuten, Inc.", :src => "/2010/sponsors/rakuten.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.rakuten.co.jp"}
          Rakuten, Inc.
      %p Rakuten is now in the middle of expanding our internet services to outside Japan such as Taiwan, Europe and US in operating multiple business diversely on behalf of Japanese companies, with primarily "Rakuten ICHIBA" and other services.
      %p Human resources are considered as a very important asset since we always stick to in-house technology development for our main businesses.

    %hr

    %a{ :name => "fujitsu" }
      %img{ :alt => "FUJITSU SOCIAL SCIENCE LABORATORY Ltd.", :src => "/2010/sponsors/fujitsu.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.ssl.fujitsu.com/"}
          FUJITSU SOCIAL SCIENCE LABORATORY Ltd.
      %p
        Fujitsu SSL provides the solutions that all business need,named PoweredSolution.

    %hr
    %a{ :name => "everyleaf" }
      %img{ :alt => "Everyleaf Corporation", :src => "/2010/sponsors/everyleaf.png" }
    %div
      %h2
        %a.mark{ :href => "http://everyleaf.com/"}
          Everyleaf Corporation
      %p We develop Rails apps and help you develop them too. Our name "Everyleaf" comes from "Man'yoshu", the oldest collection of Japanese poetry.

    %hr
    %a{ :name => "eyoffice" }
      %img{ :alt => "EY-Office Ltd.", :src => "/2010/sponsors/eyoffice.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.ey-office.com/"}
          EY-Office Ltd.
      %p <a href="http://www.ey-office.com/">http://www.ey-office.com/</a>

    %hr
    %a{ :name => "tmix" }
      %img{ :alt => "tmix", :src => "/2010/sponsors/tmix.png" }
    %div
      %h2
        %a.mark{ :href => "http://tmix.jp/"}
          tmix
      %p
        tmix lets you create your own shirts online and then share your designs to other users. It’s also possible to “remix” existing designs with a set of painting tools.
    %hr
    %a{ :name => "hokkaidoinformationuniversity" }
      %img{ :alt => "Hokkaido Information University", :src => "/2010/sponsors/hokkaidoinformationuniversity.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.do-johodai.ac.jp/"}
          Hokkaido Information University

    %hr
    %a{ :name => "scaleout" }
      %img{ :alt => "ScaleOut Inc.", :src => "/2010/sponsors/scaleout.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.scaleout.jp/"}
          ScaleOut Inc.

    %hr
      %a{ :name => "econe" }
        %img{ :alt => "EC-One, Inc.", :src => "/2010/sponsors/econe.png" }
      %div
        %h2
          %a.mark{ :href => "http://www.ec-one.com/"}
            EC-One, Inc.
        %p
          EC-One works on the development of Ruby on Rails to achieve customer's　business more low-cost and speedily.
