#content
  %h1 Platinum Sponsor
  %div#sponsors_platinum_list.whitebox
    %a{ :name => "esm" }
      %img{ :alt => "Eiwa System Management,Inc.", :src => "/2010/sponsors/eiwasystemmanagement.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.esm.co.jp/",:target => "_blank" }
          Eiwa System Management,Inc.

    %hr
    %a{ :name => "nifty" }
      %img{ :alt => "NIFTY Corporation", :src => "/2010/sponsors/nifty.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.nifty.co.jp/",:target => "_blank" }
          NIFTY Corporation
      %p NIFTY is one of the biggest ISPs in Japan, providing various life-enriching services with the company slogan "With Us, You Can".
      %p Considering it as very important OSS, we use "Ruby on Rails" for our various UGC services such as blog or community services.
      %p Ruby Development Environment is also provided in our recently released public cloud service"NIFTY Cloud".
