#content
  %h1 Platinum Sponsor
  %div#sponsors_platinum_list.whitebox
    %a{ :name => "esm" }
      %img{ :alt => "Eiwa System Management,Inc.", :src => "/2010/sponsors/eiwasystemmanagement.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.esm.co.jp/" }
          Eiwa System Management,Inc.

    %hr
    %a{ :name => "nifty" }
      %img{ :alt => "NIFTY Corporation", :src => "/2010/sponsors/nifty.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.nifty.co.jp/" }
          NIFTY Corporation
      %p NIFTY Corporation is providing famous Internet Service in Japan.Our motto is "With Us, You Can". We are creating original UGC and mobile services by OSS. We think "Ruby on Rails" is very important OSS. We are using RoR in our blogging service and community services. Also, we have released public cloud service "NIFTY Cloud", which provides Ruby Develop Environment.

