#content
  %h1 RubyKaigi 2010 Sponsors

  %h2
    %a{:name => 'ruby'}
      Ruby Sponsor
  %p (Coming Soon)

  %h2
    %a{:name => 'platinum'}
      Platinum Sponsor
  %p (Coming Soon)

  %h2
    %a{:name => 'gold'}
      Gold Sponsor
  %p (Coming Soon)

  != render :partial => 'shared/individual_sponsors'
