#content
  %h1 The RubyKaigi 2010 Executive Committee

  %dl
    %dt Chairman
    %dd Masayoshi TAKAHASHI (Nihon Ruby-no-Kai, Chairman / tatsu-zine.com)
    %dt Chief of Operations
    %dd Shintaro KAKUTANI (Nihon Ruby-no-Kai || Eiwa System Management)
    %dt Vice Chief of Operations
    %dd Koji SHIMADA (Nihon Ruby-no-Kai / Enishi Tech)
    %dt Program Chair
    %dd Koichi SASADA (Nihon Ruby-no-Kai, The University of Tokyo)
    %dt Sponsor Liason
    %dd Ayumu AIZAWA (Nihon Ruby-no-Kai, Akasaka.rb)
    %dt Ruby Association
    %dd Shugo MAEDA (Ruby Association / Network Applied Communication Laboratory)

  %h2 Staff

  %ul
    %li Shin'ya ADZUMI (Nihon Ruby-no-kai, Intasect Communications) - Accounting
    %li Tadashi TADA (tDiary.org) - Conference Novelty Goods
    %li Junichiro KITA (Nihon Ruby-no-Kai)
    %li Kazuhiko (Open Source Programmer / Nihon Ruby-no-kai)
    %li Miho SUZUKI (@adzuki34)
    %li Leonard Chin (Nihon Ruby-no-Kai)
    %li Kyosuke MOROHASHI (Rails Tokyo || Eiwa System Management)
    %li Yohji SHIDARA (Ruby Sapporo / Enishi Tech)
    %li Tomoki MAEDA (Ruby Sapporo / Antas)
    %li Kenta MURATA (Ruby Sapporo)
    %li Fumitake TANIGUCHI (Ruby Sapporo, Hokkaido Information University)
    %li Jun OHWADA (Ruby Sapporo, Scigineer)
    %li Kei SHIRATSUCHI (Ruby Sapporo, Scigineer)
    %li Norio (Ibaraki Ruby-no-kai)
    %li Mayuco Sekiya (@mayuco)
    %li Junya OGINO
    %li Naoto TAKAI (Akasaka.rb)
    %li hiaki KOSHIBA (EC Navi, 4038nullpointer.com)
    %li Sunao TANABE (Nihon Ruby-no-kai)
    %li Motohiro TAKAYAMA (@mootoh)
    %li Tadashi SAWADA
    %li Eito KATAGIRI (Ruby Tokai)
    %li Tasuo SAKURAI (Everyleaf)
    %li Tadashi SAITO (College of Information Science, University of Tsukuba)
    %li ujihisa
