#nav {
  display: block;
  margin: 0;
  padding: 0;
  position: relative; }
  #nav li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative; }
  #nav a {
    display: block; }
  #nav ul {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0; }

* html #nav ul {
  line-height: 0; }

#nav {
  background-color: #000;
  height: 32px;
  border-left: 1px dotted #666;
  text-align: center;
  width: 860px;
  margin: 0 auto; }
  #nav ul {
    width: 170px; }
    #nav ul a {
      zoom: 1; }
    #nav ul li {
      float: none; }
    #nav ul ul {
      top: 0;
      left: 171px; }
  #nav li {
    width: 170px;
    border-right: 1px dotted #666; }
  #nav *:hover {
    background-color: none; }
  #nav a {
    color: white;
    font-size: 12px;
    padding: 8px 4px;
    line-height: 130%; }
  #nav li.hover a {
    background-color: #333; }
  #nav ul {
    top: 33px;
    text-align: left; }
    #nav ul li {
      border-bottom: 1px solid #000;
      border-right: none; }
      #nav ul li a {
        background-color: #5E5A5A; }
    #nav ul a {
      border-bottom: 1px solid #666;
      border-right: none;
      opacity: 0.9;
      filter: alpha(opacity=90);
      border-bottom: none; }
      #nav ul a.hover {
        background-color: #000; }
