%div#addfeed
  %img{ :alt => "ADD FEED", :src => "/2010/images/top_addfeed.png" }
  %a.noborder{ :href => "#" }
    %img{ :alt => "English", :src => "/2010/images/top_addfeed_en.png" }
  %a.noborder{ :href => "http://pipes.yahoo.com/pipes/pipe.run?_id=6eb380c6cbaddc688d8d2f4599ead952&_render=rss" }
    %img{ :alt => "日本語", :src => "/2010/images/top_addfeed_ja.png" }
