%div#addfeed
  %img{ :alt => "ADD FEED", :src => "/2010/images/top_addfeed.png" }
  %a.noborder{ :href => rubykaigi_org_feed_url(:en) }
    %img{ :alt => "English", :src => "/2010/images/top_addfeed_en.png" }
  %a.noborder{ :href => rubykaigi_org_feed_url(:ja) }
    %img{ :alt => "日本語", :src => "/2010/images/top_addfeed_ja.png" }
