%h2
  %a{:name => 'ruby'}
    Ruby Sponsors
%div#sponsors_ruby.whitebox.center
  %p
    != render :partial => 'shared/ruby_sponsors'

%h2
  %a{:name => 'platinum'}
    Platinum Sponsors
%div#sponsors_platinum.whitebox.center
  %p
    != render :partial => 'shared/platinum_sponsors'

%h2
  %a{:name => 'gold'}
    Gold Sponsors
%div#sponsors_gold.whitebox
  %p
    != render :partial => 'shared/gold_sponsors'
