%h2
  %a{:name => 'ruby'}
    Ruby Sponsor
%div#sponsors_ruby.whitebox.center
  != render :partial => 'shared/ruby_sponsors'

%h2
  %a{:name => 'platinum'}
    Platinum Sponsor
%div#sponsors_platinum.whitebox.center
  %p
  != render :partial => 'shared/platinum_sponsors'

%h2
  %a{:name => 'gold'}
    Gold Sponsor
%div#sponsors_gold.whitebox
  %p
  != render :partial => 'shared/gold_sponsors'
