%a{ :href => "/2010/#{current_locale}/SponsorsPlatinum#esm"}
  %img{ :alt => "Eiwa System Management,Inc.", :src => "/2010/sponsors/eiwasystemmanagement.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsPlatinum#nifty"}
  %img{ :alt => "NIFTY Corporation", :src => "/2010/sponsors/nifty.png" }
