- cache "sponsor-ruby" do
  %a{ :href => "/2010/#{current_locale}/NaCl"}
    %img{ :alt => "Network Applied Communication Laboratory Ltd.", :src => "/2010/sponsors/nacl.png" }
  %a{ :href => "/2010/#{current_locale}/Ricoh"}
    %img{ :alt => "Ricoh Company, Ltd.", :src => "/2010/sponsors/ricoh.png" }
  %a{ :href => "/2010/#{current_locale}/Microsoft"}
    %img{ :alt => "Microsoft Co., Ltd.", :src => "/2010/sponsors/microsoft.png" }
