html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #dfdfdf;
  line-height: 1.5;
  background: #000;
}
#content {
  margin: 0 auto;
  padding: 0;
  width: 732px;
}
h1 {
  margin: 50px 0 0;
  padding: 0;
}
p,li {
  margin: 0;
  padding: 0 0 0.5em;
  text-align: left;
  font-size: 80%;
}
.spec {
  margin-top: 10px;
  font-weight: bold;
  font-size: 100%;
}

#footer {
  font-size: 80%;
  color: #b0b0b0;
  margin:0 auto;
  padding: 30px 50px;
  width:732px;
}

#footer a {
  color: #afb216;
}

#footer #contents {
  width: 100%;
}

#footer .item {
  float:left;
  margin:0;
  padding:0;
  width:214px;
}

#footer .item a {
  color:#666666;
}

#footer p {
  text-align: center;
  clear: left
}

#footer h2 {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  font-size:16px;
  margin:0;
  padding:0;
}

#footer ul, #footer li {
  list-style:none outside none;
}

a {
  color: #ffee30;
  text-decoration: none;
  font-weight: bold;
}

div.form_caution {
  margin: 20px 10px;
  background-color: #333;
  padding: 1em;
  text-align:left;
}
