%div.session
  %p.title
    - unless event.break
      %a.tip{:href => event_path(2010, current_locale, event)}
        = event.title
        - if event.abstract
          %span
            = event.abstract
    - else
      = event.title
  %p.speaker
    = event.presenter_name_without_afffiliation
