<div id="timetables">
<% @events.group_by(&:date).each do |date, events_per_date| -%>
  <a name="timetable-<%= date.strftime '%m%d' %>"></a>
  <h2><%= l date, :format => :long %></h2>
  <table class="timetable">
    <thead>
      <tr>
        <th class="time">&nbsp;</th>
        <%- @rooms.each do |room| -%>
        <th class="room"><%= room.name %></th>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
  <%- from, to = events_per_date.map(&:from).min, events_per_date.map(&:to).max -%>
  <%- while from.time < to.time -%>
    <%- events_per_from = events_per_date.select {|e| e.time.from == from} -%>
      <%= render 'time', :from => from, :events_per_from => events_per_from -%>
    <%- from += 30.minutes -%>
  <%- end -%>
    </tbody>
  </table>
<% end -%>
</div>
