%p
  RubyKaigi 2011 is seeking organizations to sponsor the conference. RubyKaigi is a highly international conference, attracting participants and speakers from many countries, including Japan, the United States, China, Australia, Germany, Canada, South Africa, Egypt, France and many others. RubyKaigi is a fantastic opportunity to promote your organization.

%p
  For further details, please refer to the PDF linked below. Please direct all enquiries to 2011 AT rubykaigi.org

%h2
  %a{ :href => "/2011/rk11prospectus.pdf" }
    #{t('rubykaigi2011')} #{t('sponsor_prospectus')}(PDF)

%p
  Consider becoming a conference sponsor, and help us build a fantastic international Ruby conference.
