%p
  This is a call for presentation proposals(CFP) for RubyKaigi 2011.

%h3 Topics we're interested in

%p
  We are interested in presentations on the following topics:
  %ul
    %li Anything about the Ruby language

%h3  How to Submit a Proposal

%p
  Please submit your CFP via <strong><a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a></strong>

%h3 Important Dates
%ul
  %li
    Submission Deadline: <strong>Sunday, 20th March, 2011 (JST)</strong>
  %li
    Announcement of selection results: During April, 2011
  %li
    RubyKaigi2011: July 16(Sat) - 18(Mon), 2011

%h3 Selection Process
%p
  The presentations will be selected by the staff of RubyKaigi 2011.

%h3 Questions?
%p
  If you have any questions, please email us at 2011 at rubykaigi.org.
