%p
  This is a call for presentation proposals for RubyKaigi 2011. We are interested in presentations on the following topics:
  %ul
    %li
      Anything about the Ruby language
%p
  How to Submit a Proposal
%p
  The applicant will need to submit the following information.
  %ul
    %li
      name (or nickname), affiliation (company, user group etc), and e-mail address of the applicant(s)
    %li
      the title of the proposed presentation
    %li
      a short abstract of the proposed presentation (for use on schedules, etc if your proposal is accepted)
    %li
      a more detailed description of the proposed presentation (for usage during selection process. We will not make this to public.)
    %li
      appeal points (for usage during selection process. We will not make this to public.)
    %li
      preferred presentation duration: 30 min / 60 min / other (includes Q/A time)
    %li
      Spoken language of presentation: English/Japanese (Ruby assumed)
    %li
      nationality of the applicant(s) (for visa for entry into Japan)
    %li
      preferred day for presentation: July 16th / 17th / 18th / no preference.
    %li
      Any additional information or special requirements
%p
  By submitting a proposal, you give permission to RubyKaigi 2011 to record, edit, and publish audio and/or video of your presentation. If you do not wish to abide these conditions, please refrain from submitting a proposal.
%p
  We intend to use the title and abstract of your presentation in the conference pamphlet and other materials, so please write something that will appeal to your potential audience.
%p
  Important Dates
  %ul
    %li
      Submission Deadline: Wednesday, 9th March, 2011
    %li
      Announcement of selection results: During April, 2011
    %li
      RubyKaigi2011: July 16(Sat) - 18(Mon), 2011
%p
  Selection Process
%p
  The presentations will be selected by the staff of RubyKaigi 2011.
%p
  Questions?
%p
  If you have any questions, please email us at 2011 at rubykaigi.org.
  (Submission Form was closed. Thanks so many submissions!)

