%p
  This is a call for presentation proposals(CFP) for RubyKaigi 2011.

%p
  <strong>Topics we're interested in</strong>
%p
  We are interested in presentations on the following topics:
  %ul
    %li
      Anything about the Ruby language
%p
  <strong>How to Submit a Proposal</strong>
%p
  Please submit your CFP via <a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a>
