%p
  (あとで書く)。詳細は<a href='http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-list/xxxxx'>ruby-listでのアナウンス</a>を参照してください。
%p
  応募は下記のウェブシステムからお願いします。
%p
  <a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a>
