%p
  RubyKaigi2011 で発表を希望される方を 3/20（日）まで募集いたします．
  %ul
    %li 日本Ruby会議2011, <a href="http://rubykaigi.org/2011/ja">http://rubykaigi.org/2011/ja</a>
    %li  日本Ruby会議2011 開催趣意書, <a href="http://rubykaigi.org/2011/ja/prospectus">http://rubykaigi.org/2011/ja</a>
    %i   日本Ruby会議2011 Call for Presentations, <a href="http://rubykaigi.org/2011/ja/call_for_presentations">http://rubykaigi.org/2011/ja/call_for_presentations</a>

%h3 募集テーマ
%p
  募集するプレゼンテーションのテーマは以下のとおりです．
  %ul
    %li Ruby について，なんでも

%h3 応募方法

%p
  応募は下記のウェブシステムから送信して下さい．

  <a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a>

%h3 大事な日程

%p
  募集締切<br>
  <strong>2011 年 3 月 20 日 (日)</strong>
%p
  募集結果発表<br>
  2011 年 4 月
%p
  RubyKaigi2011
  2011 年 7 月 16 日(土)，17 日(日), 18日(祝)

%h3 選考方法
%p
  RubyKaigi2011 スタッフにより選考いたします．

%h3 お問い合わせ
%p
  何か不明な点があれば，2011 at rubykaigi.org までお気軽にお問い合わせください。