%p
  あとで書く。さしあたってはruby-listへのアナウンスを参照してください(これもあとで投稿する)
%p
  応募用ウェブシステム: <a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a>
