%p
  RubyKaigi2011 で発表を希望される方を 3/20 まで募集いたします。募集するプレゼンテーションのテーマは以下のとおりです。
%ul
  %li Ruby について、なんでも
%p
  応募は下記のウェブシステムからお願いします。
%p
  <a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a>

%p
  たくさん書くところがありますが、ご協力お願いします。

%p
  下記，項目を紹介します．基本的に，英語必須，日本語オプション，ということになっています．これは，英語はみんな出来るけど，日本語出来ない人はいるよね，という判断からです．いや，私も英語は苦手ですけど．英語がどーしても書けない人は「help!」とでも書いておいて下さい．発表が決まったとき，我々がサポートします．多分．
%p
  「will be published」という項目は，パンフレットやウェブなどで公開します．公開してもいい内容を書くようにして下さい．

%ul
  %li
    Your name (English / will be published)<br>
    あなたのお名前を英語で．公開されます．<br>
    （例：Koichi Sasada）
  %li
    Your name (Japanese / will be published / optional)<br>
    あなたのお名前を日本語で．公開されます．<br>
    （例：笹田耕一）
  %li
    Your affiliation (English / will be published)<br>
    あなたの所属を英語で．公開されます．<br>
    （例：Nihon Ruby-no-Kai）
  %li
    Your affiliation (Japanese / will be published / optional)<br>
    あなたの所属を日本語で．公開されます．<br>
    例：日本Rubyの会）
  %li
    Your bio (English / will be published)<br>
    あなたの自己紹介を英語で．公開されます．<br>
    （例：Koichi Sasada is one of the commiter of MRI. He is developer of the virtual machine of Ruby 1.9.)
  %li
    Your bio (Japanese / will be published / optional)<br>
    あなたの自己紹介を日本語で．公開されます．<br>
    （例：MRIメンテナの一人．Ruby 1.9 の VM 開発者）<br>
  %li
    Your E-mail address<br>
    あなたのメールアドレス．これが間違ってると連絡取れなくなるので大変です．<br>
    公開しません（当然だ）．<br>
    （例：ko1 at atdot.net）
  %li
    Talk title (English / will be published)<br>
    発表のタイトルを英語で．公開されます．<br>
    （例：In memory of YARV）
  %li
    Talk title (Japanese / will be published / optional)<br>
    発表タイトルを日本語で．公開されます．<br>
    （例：YARVを偲んで）
  %li
    Talk abstract (English / will be published)<br>
    発表概要を英語で．公開されます．<br>
    %p
      お客さんはこの概要を見て，発表を聞くかどうか決めるんじゃないかと思います．頑張って書きましょう．あんまり長いとだれるんで，短くまとめるといいと思います．
    %p
      （例：It is too tough to write English version of abstract to show an example.  Read the Japanese abstract.）※注：なお，この例は悪い例です．
  %li
    Talk abstract (Japanese / will be published / optional)<br>
    発表概要を日本語で．公開されます．<br>
    %p
      お客さんはこの概要を見て，発表を聞くかどうか決めるんじゃないかと思います．頑張って書きましょう．あんまり長いとだれるんで，短くまとめるといいと思います．
    %p
    （例：発表者はYARV: Yet Another RubyVMを開発してきたが、YARVという名前は事実上絶えて久しい。YARVとはなんだったのか。我々にとってどういう存在だったのか。2011年のRuby、そしてこれからのRubyにとって、YARVはどんな影響を与えたのか。本発表ではYARVを偲ぶとともに、YARV亡き後の今後のRubyについて考察する。）
  %li
    Details of your talk (English or Japanese / Used in selection)<br>
    発表詳細を書いて下さい．日本語でも英語でも構いません．公開しません．<br>
    選考に使います．出来るだけ細かく書きましょう．<br>
    （例：考えるのだるいので略）
  %li
    Appeal points (English or Japanese / Used in selection)<br>
    %p
      この発表のアピールポイントを書いて下さい．日本語でも英語でも構いません．公開しません．この発表をなぜ RubyKaigi で喋る必要があるのか，など，選考する人に向けて切々と説いて下さい．
    %p
      （例：毎年このタイトルで応募しているのに，一度も採用してもらえません．今後の Ruby 処理系の開発に重要な話をしたいので，ぜひ発表させて下さい．）※注：スタッフはこれを読んでも心を動かされないと思う．
    %li
      Presentation length (30min is default length)<br>
      発表に何分欲しいか書いて下さい．公開しません．<br>
      %p
        30分を基準に考えています．30分以上喋りたい人は，上記のアピールなどで十分理由を説明して下さい．毎年たくさん応募があるので，長い時間を割り当てるのは正直大変なのです．また，希望通りにならない可能性もありますので，その点はご留意下さい．
    %li
      Presentation language<br>
      発表するときに利用する言語（英語 or 日本語）を書いて下さい．公開します．
    %li
      Preferred presentation day<br>
      何日に発表したいか書いて下さい．公開しません．
    %li
      Do you need help obtaining a visa?<br>
      ビザが必要かどうか書いて下さい．もし必要であるならば，"Others" に詳細を必ず書いて下さい．
    %li
      Others (optional)<br>
      何か，RubyKaigi2011 のスタッフへ伝えたいことがある人は書いて下さい．

%p
  発表に応募すると、写真撮影・講演動画の中継、録画の配信、発表資料の公開に同意したものと見做されます。同意されない方のご応募はご遠慮下さい。

%p
  タイトル、発表概要など「公開します」と書いた項目は原則としてウェブサイトやパンフレットに掲載できるクオリティであることを期待しています。「あとで書く」はご遠慮下さい。

%p
  多くの日本人以外の Rubyist が RubyKaigi に参加するため、英語での発表情報提供にご協力ください。英語に自信が無い方は応募時にその旨お伝えください。スタッフができる範囲でお手伝いします。

%h3 応募先ウェブシステム

%p
  <a href="http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload">http://www.atdot.net/~ko1/file/rubykaigi/2011/presentation/upload</a>

%h3 日程
%p
  募集締切<br>
  <strong>2011 年 3 月 20 日 (日)</strong><br>
  <br>
  募集結果発表<br>
  2010 年 4 月<br>
  <br>
  RubyKaigi2011<br>
  2010 年 7 月 16 日(土)、17 日(日)、18日(月)<br>
  <br>
  選考方法<br>
  RubyKaigi2011 スタッフにより選考いたします。<br>

%p <strong>お問い合わせ</strong>

何か不明な点があれば、2011 at rubykaigi.org までお気軽にお問い合わせください。
