%p
  日本Ruby会議2011ではカンファレンスのスポンサーを募集しております。日本Ruby会議2011には国内はもとより、世界中からRubyプログラマが参加します。絶好の露出の機会としても、ぜひご利用ください。

%p
  詳細は
  %a{ :href => "/2011/rk11prospectus.pdf" }
    #{t('rubykaigi2011')} #{t('sponsor_prospectus')}(PDF)
  にお目を通していただいたうえで、下記のリンクからお申し込みください。

%h2{:style => 'padding: 1em;margin: 1em 2em;border:1px solid #666;background: #efefef;text-align:center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;'}
  %a{:href => 'http://www.atdot.net/~ko1/file/rubykaigi/2011/sponsor/upload'}
    Ruby会議2011スポンサーシップお申し込みフォーム

%p
  日本最大規模のRubyのカンファレンスを一緒につくっていただける皆さまからの応募を心よりお待ちしております。
