

%h3
  はじまりはじまり

%ul
  %li 弟子 : うーん、うーん
  %li 仙人 : どうした、弟子よ。何を悩んどる？
  %li 弟子 : あ、これは仙人さま。今、RubyKaigiのCFPを書いているところなのです。
  %li 仙人 : どれどれ、どんなのを書いておる。見せてみろ。

%p
  仙人は、弟子のディスプレイを後ろからのぞき込みました。

%blockquote
  Abstract :
  %br
  発表では、小説ツールについて解説します。

%p
  画面のエディタに書いてあるのは、たったこれだけでした。仙人は何のことだかさっぱり分からず、困ってしまいました。

%ul
  %li 仙人 : うーん、弟子よ。これだけでは、さっぱり分からん。
  %li 弟子 : ですから、仙人さま。私は、CFPが書けずに困っているのです！
  %li 仙人 : しかしなあ、弟子よ。これでは選考プロセスにすら上らんぞ……。
  %li 弟子 : えっ、仙人さま、それでは困ります！
  %li 仙人 : よし、それではワシがおぬしに、CFPの極意を伝授しよう。
  %li 弟子 : わあ、本当ですか、仙人さま！　ありがとうございます！

%p
  ポイント : Abstractが1行だけの応募は選考の対象外です！せっかく応募をするのですから、しっかりと応募文書を練りましょう。

%h3
  理解されるように書く

%ul
  %li 仙人 : 弟子よ、まずはどんな発表をしたいのか教えておくれ。
  %li 弟子 : えーと、仙人さま。私は、とある小説に関連したツールの発表をしたいのです。
  %li 仙人 : ふむ、それはどんなツールじゃ。
  %li 弟子 : はい、小説を自動でつくってくれるツールでございます。
  %li 仙人 : 小説を自動生成するのか。
  %li 弟子 : 昨晩など、徹夜して自動生成された小説を読み耽ってしまいました。
  %li 仙人 : なんと暇な奴じゃ！
  %li 弟子 : 利用方法も簡単で、コマンドひとつでGopherサーバが起動します
  %li 仙人 : また古いプロトコルを選びおった。
  %li 弟子 : その他にも……
  %li 仙人 : まあ、待てい！　とりあえずここまでをいったん文章にしてみんか。
  %li 弟子 : はい、仙人さま。……これでよろしいでしょうか。

%blockquote
  Abstract :
  %br
  発表では、小説ツールについて解説します。このツールは小説を自動生成します。利用方法は簡単で、コマンドひとつでGopherサーバが起動し、生成された小説を配信します。

%p
  ポイント : 必要であればトピックとなる固有名詞や専門的な用語には簡潔な解説を書きましょう。プログラム選考者はRubyに関する最低限の知識は持っているものの、全てのことがらを知っている訳ではありません。

%h3
  テーマを広げる

%ul
  %li 仙人 : まあ、最初よりは良くなったのう。
  %li 弟子 : 本当ですか、ありがとうございます！
  %li 仙人 : しかし、これだけじゃあ落選だの。
  %li 弟子 : それでは困ります！　いったいどこが問題でしょうか。
  %li 仙人 : これだけではトピックが狭いのじゃ。
  %li 弟子 : それで、RubyKaigiの発表には向いていないと判断されてしまうのですね。
  %li 仙人 : そう、最近の傾向では単なるツールの紹介はライトニングトークに回される。
  %li 弟子 : えええっ、そうなんですか！
  %li 仙人 : ライトニングトークもカリスマだの飛び道具が多いからの、激戦区じゃよ。
  %li 弟子 : いったい、どうしたら……。
  %li 仙人 : テーマを広げるのじゃ！
  %li 弟子 : トピックが狭いのなら広げてしまえばいいのですね！

%blockquote
  Abstract :
  %br
  発表では、小説ツールについて解説します。このツールは小説を自動生成します。利用方法は簡単で、コマンドひとつでGopherサーバが起動し、生成された小説を配信します。
  %br
  このツールの背景には文生成というテーマがあります。

%p
  ポイント : ツールの紹介などはライトニングトークに回される傾向があります。そのツールの技術背後など、テーマを広くすることで発表が採用される率がぐっとアップします。

%h3
  オリジナリティを明確にする

%ul
  %li 弟子 : 仙人さま、テーマが決まりました！
  %li 仙人 : しかし、なんだかぼんやりしとらんか。
  %li 弟子 : たしかに、何か足りない気がします。
  %li 仙人 : そこで、オリジナリティじゃよ。
  %li 弟子 : わわわ、一気に難しくなった！　仙人さま、困ります！
  %li 仙人 : まあまあ。このツールで一番難しいところはどこじゃ？
  %li 弟子 : えーと、普通にマルコフ連鎖で文生成するとナンセンスな文章しか生成されないのです。
  %li 仙人 : どんな工夫をしてある？
  %li 弟子 : ツールに小説から大規模分散技術をつかって抽出したモチーフを機械学習させ、ナンセンスな文章をはじく工夫があります。
  %li 仙人 : なんと高度な技術じゃ！　それをCFPに盛り込むのだ。

%blockquote
  Abstract :
  %br
  発表では、小説ツールについて解説します。このツールは小説を自動生成します。利用方法は簡単で、コマンドひとつでGopherサーバが起動し、生成された小説を配信します。
  %br
このツールの背景には文生成というテーマがあります。通常の文生成で使われるマルコフ連鎖というアルゴリズムでは、ナンセンスな文章しか生成されないという問題がありました。そこで、ツールに大規模分散技術をつかって小説から抽出したモチーフを機械学習させ、ナンセンスな文章をはじく工夫が実装されています。

%p
  ポイント : 発表のオリジナリティを明確にしましょう。オリジナリティは、ウリと言い換えてもいいかもしれません。発表によって聞く人にどんな価値がもたらされるのかを明確にします。

%h3
  発表者の立ち位置を明らかにする

%ul
  %li 仙人 : しかし、びっくりしたのう。いつの間にそんな高度なツールを作った？
  %li 弟子 : いいえ、仙人さま。このツールを私が作ったとは一言も……。
  %li 仙人 : なにっ、赤の他人のツールを紹介するつもりじゃったのか！？
  %li 弟子 : いいえ、仙人さま。まったくの赤の他人という訳でもなく……。
  %li 仙人 : なんじゃ、お前は何をやったのか？
  %li 弟子 : えへん、このツールで自動生成された小説を世界で一番多く読みました。
  %li 仙人 : あきれた暇人じゃのう。まあ良い。それを書け。

%blockquote
  Abstract :
  %br
  発表では、小説ツールについて解説します。このツールは小説を自動生成します。利用方法は簡単で、コマンドひとつでGopherサーバが起動し、生成された小説を配信します。
  %br
  このツールの背景には文生成というテーマがあります。通常の文生成で使われるマルコフ連鎖というアルゴリズムでは、ナンセンスな文章しか生成されないという問題がありました。そこで、ツールに大規模分散技術をつかって小説から抽出したモチーフを機械学習させ、ナンセンスな文章をはじく工夫が実装されています。
  %br
  発表者は、このツールで自動生成された小説を世界で一番多く読んだ立場から、このツールがいかに自然な文章を生成するのか、ツールで採用された手法が画期的であることをお話します。

%p
  ポイント : 必ずしも発表テーマの第一人者ではなくてもかまいません。ただし、この人にしかこの話はできない、という話が期待されています。ナンバーワンでなくともオンリーワンになってください。

%h3
  最後に一番重要なこと

%ul
  %li 仙人 : よし、こんなもんじゃろ。
  %li 弟子 : 仙人さま、ありがとうございました。おかげさまで立派なCFPができました！
  %li 仙人 : あと、大事なことを忘れとらんか。
  %li 弟子 : 大事なこと？
  %li 仙人 : CFPの締切日じゃ。
  %li 弟子 : あっー、締切は昨日でした！
  %li 仙人 : ズコーッ！

%p
  ポイント : 締切は守りましょう。締切を過ぎた応募は選考の対象外です！
