%p
  RubyKaigi, held annually since 2006, is a world class conference about the object-oriented scripting language Ruby. Last year's RubyKaigi, held in Tsukuba, attracted over 2,000 people during the three days it was held.

%p
  RubyKaigi 2011, the 6th annual RubyKaigi, will be held over 3 days, from July 16th to 18th, 2011. The venue for RubyKaigi 2011 is Nerima Bunka Center, Tokyo. This venue will be the biggest to date, and we anticipate this will be our largest RubyKaigi yet.

%p
  Since its inception, RubyKaigi has created a place for Rubyists to exchange ideas and make friendships. Thanks to the support of the speakers, participants, sponsors, and many others, RubyKaigi has matured into the large scale conference it is today. However, continuing RubyKaigi under the current setup poses many challenges.

%p
  So RubyKaigi 2011 will be the last time we use the current setup.  As such, this RubyKaigi's theme will be "The Final RubyKaigi".

%p
  In order to create a new setup and move in a new direction we will use the current system one more time. By looking at what it can achieve and how it is limited, we will be able to see the event's future form.

%p
  RubyKaigi has served as the place for Ruby and Rubyists alike. We warmly invite everyone to participate in what will be not just be "The Final RubyKaigi" but also "The Greatest Ruby Kaigi".

%p
  Masayoshi Takahashi, The RubyKaigi 2011 Team
