%p
  日本Ruby会議は、オブジェクト指向スクリプト言語Rubyに関するイベントとしては世界でも最大級のもので、2006年から毎年開催されています。昨年つくばで開催された日本Ruby会議2010は、国内外から、3日間でのべ2000人ほどの来場者を数えました。

%p
  その第6回目となる日本Ruby会議2011(略称:RubyKaigi2011)は、2011年7月16日から18日までの3日間、練馬文化センター(東京都練馬区)にて開催いたします。会場の規模としては昨年以上のものとなり、これまで以上の多くの参加を見込んでいます。

%p
  これまでRubyKaigiは、2006年の初回から昨年まで、Rubyの様々な発展を共有し、Rubyistたちの出会いを生み出し、育む「場」として、数多くのスピーカー、参加者、スポンサー、そしてそれ以外にも多くの方々のご支援、ご協力を賜りながら、年々その規模を拡大しながら成長を続けて参りました。しかしながら、拡大する規模にともない、これまでと同様の枠組みでの開催には、様々な課題が生じてきているのも事実です。

%p
  そこで、今回のRubyKaigi2011では、これまでのRubyKaigiの総決算として、一つの大きな区切りをつけることといたしました。今回のRubyKaigiのテーマは、「最後のRubyKaigi」になります。

%p
  新たな枠組みを築くべく、大きく舵を切る前に、現在の枠組みでできることの全てを尽くしてみる。そうすれば、そこで垣間見た達成と限界から、あるべき未来の姿も見えてくるのではないでしょうか。

%p
  これまでのRubyKaigiが果たして来た、RubyとRubyistにとっての「場」。その集大成として、「最後のRubyKaigi」であると同時に「最高のRubyKaigi」となるよう、多くのみなさまのご参加をお待ち申し上げます。

%p
  日本Ruby会議2011実行委員長 高橋征義
