-content_for :head do
  :plain
    <style type="text/css">
      body {
          margin: 0;
          padding: 130px 0 0;
          background-color: #f00;
          text-align: center;
      }
      a, a:link, a:visited, a:hover {
        color: #333;
        text-decoration: none;
        border:none;
      }
    </style>
    <!--[if lt IE 9]>
    <script src="reset.js"></script>
    <![endif]-->
    </style>

%h1
  <img src="/2011/images/the_end_of_rubykaigi.png" alt="The End Of Rubykaigi - 2011/07/16-18 at ToKyo, Japan">

%div{:style => 'margin-top:30px'}
  %dl
    %dt{:style=>'display:inline'} Date:
    %dd{:style=>'display:inline;margin-left:0em;'}
      <strong>July 16(Sat) - 18(Mon), 2011</strong>
  %dl
    %dt{:style=>'display:inline'} Venue:
    %dd{:style=>'display:inline;margin-left:0em;'}
      <strong>Nerima Culture Center (Tokyo, Japan)</strong><br />
      <a href="http://bit.ly/fBgMrP">MAP</a>, <a href="http://www.neribun.or.jp/">website(Japanese)</a>

  %dl
    %dt{:style=>'display:inline'} Keynote(s):
    %dd{:style=>'display:inline;margin-left:0em;'}
      <strong>Yukihiro &quot;Matz&quot; Matsumoto</strong>
      and others(TBA)

  %div
    <a href="/2011/ja/prospects">RubyKaigi2011 開催趣意書</a><br />(Japanese)

%div{:style => 'margin-top:50px'}
  <strong style="padding: 8px 10px;color:#f00;background-color:#000">RubyKaigi 2011 is Looking for Sponsors!</strong>
  %p
    For details, Please refer to <a href="/2011/rk11prospectus.pdf">sponsor prospects PDF</a> and<br /> contact us via E-mail, 2011 AT rubykaigi DOT org.<br />
    If you have an interest in the sponsorship but you can not read Japanese,<br />feel free to contact us via E-mail. You're always welcome.

%div{:style => 'margin-top:50px'}
  %p
    Follow us on twitter: <a href="http://twitter.com/rubykaigi">@rubykaigi</a> (a hashtag is <strong><a href="http://twitter.com/search/?q=%23rubykaigi">#rubykaigi</a></strong>).<br />
    (<strong>rubykaigi2011</strong> is the tag for bookmark, flickr and others).
  %p
    Feel free to contact us via e-mail to: 2011 at rubykaigi dot org.
  %p
    RubyKaigi <a href="/2010/#{params[:locale]}">2010</a>, <a href="/2009/#{params[:locale]}">2009</a>, <a href="/2008">2008</a>, <a href="/2007">2007</a>, <a href="/2006">2006</a>
