#content
  %h1 Thank you for your contribution to RubyKaigi #{RubyKaigi.latest_year}!!

  %p Your order is completed.

  %p
    You can see your RubyKaigi related information at your
    != link_to 'Dashboard', dashboard_path

  %p
    We're looking forward to seeing you at RubyKaigi #{RubyKaigi.latest_year} !