#content
  %h1 Thank you for your contribution to RubyKaigi!!

  %p Your order is completed.

  %h2 To See Your RubyKaigi Related Information
  %ul
    %li
      %strong
        You can see your Ticket(s) on
        != link_to 'My Ticket', tickets_path
        Page!
    %li
      other useful RubyKaigi related information on your
      != link_to 'Dashboard', dashboard_path

  %p
    We're looking forward to seeing you at RubyKaigi #{RubyKaigi.latest_year} !