development: &local
  paypal:
    base_url: https://www.sandbox.paypal.com
    request_uri: /cgi-bin/webscr
    post_url: https://www.sandbox.paypal.com/cgi-bin/webscr
    business_email: paypal_1271051243_biz@rubykaigi.org
    cert_id: PAYPAL_CERT_ID
    cert_filename: paypal_cert_sandbox.pem
    ipn_secret: takahashimasayoshi
  gmail:
    user_name: gmail_user_name
    password: gmail_password
  action_mailer:
    from: "RubyKaigi2010 <2010@rubykaigi.org>"
    bcc: "RubyKaigi2010 <2010@rubykaigi.org>"
  hoptoad:
    api_key: HOPTOAD_API_KEY
  twitter:
    consumer_key: twitter_consumer_key
    consumer_secret: twitter_consumer_secret
    access_token: twitter_access_token
    access_secret: twitter_access_secret

production:

test:
  <<: *local

cucumber:
  <<: *local
