development:
  adapter: mysql
  encoding: utf8
  database: rubykaigi_development
  username: root
  password:
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock
  redis:
    host: localhost
    port: 6379
    db: 0

test: &TEST
  adapter: mysql
  encoding: utf8
  database: rubykaigi_test
  username: root
  password:
  pool: 5
  timeout: 5000
  socket: /opt/local/var/run/mysql5/mysqld.sock
  redis:
    host: localhost
    port: 6379
    db: 1

production:
  adapter: mysql
  encoding: utf8
  database: rubykaigi
  username: rubykaigi
  password:
  pool: 5
  timeout: 5000
  socket: /var/run/mysqld/mysqld.sock
  redis:
    host: localhost
    port: 6379
    db: 2

cucumber:
  <<: *TEST
