#content
  %h1 #{t(:accommodation)}

  %h2 Hotels around Tsukuba

  %ul
    %li
      %a{ :href => 'http://www.okura-tsukuba.co.jp/eng/' }
        Okura Frontier Hotel Tsukuba Epochal
      <br />(next door to the venue)
      %ul
        See also,
        %li
          %a{ :href => 'http://web.travel.rakuten.co.jp/portal/my/info_page_e.Eng?f_no=3166&f_ptn1=&f_teikei=' }
            Rakuten

    %li
      %a{ :href => 'http://www.okura-tsukuba.co.jp/eng/' }
        Okura Frontier Hotel Tsukuba
      <br />(in front of Tsukuba station)
      %ul
        See also,
        %li
          %a{ :href => 'http://www.expedia.com/pub/agent.dll/qscr=dspv/htid=691249' }
            Expedia
        %li
          %a{ :href => 'http://www.japanican.com/hotels/shisetsudetail.aspx?ar=08&st=4153002&anl=tsukuba&pn=2&rn=1' }
            JAPANiCAN
        %li
          %a{ :href => 'http://web.travel.rakuten.co.jp/portal/my/info_page_e.Eng?f_no=1302&f_ptn1=&f_teikei=' }
            Rakuten
    %li
      %a{ :href => 'http://www.daiwaroynet.jp/english/index.html' }
        Daiwa Roynet Hotel Tsukuba
      <br />(in front of Tsukuba station)
      %ul
        See also,
        %li
          %a{ :href => 'http://www.expedia.com/pub/agent.dll/qscr=dspv/htid=2675314/crti=3' }
            Expedia
        %li
          %a{ :href => 'http://web.travel.rakuten.co.jp/portal/my/info_page_e.Eng?f_no=79343&f_ptn1=&f_teikei=' }
            Rakuten
    %li
      %a{ :href => 'http://www.intio.or.jp/sinonome/form3_english/' }
        Hotel Grand Shinonome
    %li
      %a{ :href => 'http://www.55-hotels.com/tsukuba-sky/e/index.html' }
        Tsukuba Sky Hotel
      %ul
        See also,
        %li
          %a{ :href => 'http://web.travel.rakuten.co.jp/portal/my/info_page_e.Eng?f_no=1986&f_ptn1=&f_teikei=' }
            Rakuten
    %li
      %a{ :href => 'http://www.hotel-bestland.co.jp/en/' }
        Hotel Bestland
      %ul
        See also,
        %li
          %a{ :href => 'http://web.travel.rakuten.co.jp/portal/my/info_page_e.Eng?f_no=68560&f_ptn1=&f_teikei=' }
            Rakuten
