#content
  %h1 #{t(:accommodation)}
  %p
    まず、会場までのアクセスと、RubyKaigiのプログラムの開始時刻について簡単にまとめます:
  %ul
    %li 会場であるつくば国際会議場は、つくば駅から徒歩10分程度かかります
    %li 例年、土曜日・日曜日のプログラムは10:00頃から開始しています
    %li つくばエクスプレスの秋葉原〜つくば間は、片道1,150円、所要時間は50分程度です

  %p
    関東近郊にお住まいの方は十分に通える範囲だとは思いますが、つくば周辺に宿泊するとRubyKaigiを満喫しやすいのではないかなあ、と思っております。金曜日と土曜日の2泊でなくとも、土曜日だけ宿泊するだけでも身体的な負担は軽くなると思います。

  %p
    <a href="/2010/en/Accommodation/">英語版の宿泊(Accommodation)のページ</a>に簡単なホテルのリストを挙げています。このリスト以外にも、つくばエクスプレスでつくば駅のお隣りの研究学園や守谷あたりまで視野に入れて検討すると、価格や駅からの/へのアクセスに関する選択肢が増えると思います。

  %p
    ちなみに、同じつくば国際会議場を利用したRubyKaigi2008では、スタッフは<a href="http://www.new-takahashi.co.jp/takezono.html">ホテルニューたかはし竹園店</a>に投宿しました。複数名の素泊まりでしたので、比較的安価に宿泊できました(ただし、施設も価格相応です)。つくば国際会議場からも少し距離があります(といっても徒歩10分程度だったと思います)。

  %p
    以上、参考になれば幸いです。このページの記述は無保証です。文責は角谷信太郎(日本Ruby会議2010 運営委員長)にあります。
