#content
  %h1 #{t(:accommodation)}

  %ul
    %li 会場であるつくば国際会議場は、つくば駅から徒歩10分程度かかります
    %li 例年、土曜日・日曜日のプログラムは10:00頃から開始しています
    %li つくばエクスプレスの秋葉原〜つくば間は、片道1,150円、所要時間は50分程度です

  %p
    関東近郊にお住まいの方は十分に通える範囲だとは思いますが、つくば周辺に宿泊するとRubyKaigiを満喫しやすいのではないかなあ、と思っております。<a href="/2010/en/Accommodation/">英語版の宿泊(Accommodation)のページ</a>に簡単なホテルのリストを挙げています。参考になれば幸いです。(日本Ruby会議2010 運営委員長 角谷信太郎)
