%div#content
  %h1
    RubyKaigi 2010: Call For Lightning Talk(LT)
  %p
    RubyKaigi 2010 is currently assembling proposals for Lightning Talks(LT). We're looking for talks on a wide range of topics, from demos of Ruby applications, to your opinions about Ruby itself, and so forth. Please apply if you're interested!
  %h2
    About Lightning Talks on RubyKaigi 2010
  %p
    We're planning to run a &quot;standard&quot; battery of 11 talks, each of <string>strictly 5 minutes duration</strong>, in a solid 1 hour session. This session will be held in the afternoon of Day 2 (Saturday, August 28).
  %p
    Presentations will be selected from the proposals by the RubyKaigi 2010 Team.
  %h2
    Regarding Tickets for Lightning Talk Speakers
  %p
    Please be aware that LT speakers will need tickets to attend the conference. If you are selected as an LT speaker, but were unable to purchase a ticket in advance, the committee shall make arrangements for you to purchase a ticket.
  %p
    NOTICE: We cannot make arrangements for RubyKaigi 2010 Official Conference Party. You need you own conference party admission if you'd like to attend.
  %h2
    How to Submit a Proposal
  %p
    The applicant will need to submit the following information.
  %ul
    %li
      name (or nickname), affiliation (company, user group etc), and e-mail address
    %li
      the title of your talk
    %li
      abstract of your talk (for usage during selection process. We will not make this to public.)
    %li
      Spoken language of presentation: English/Japanese (Ruby assumed)
    %li
      Do you have your own ticket for RubyKaigi 2010 Conference?
    %li
      Your Reject history on RubyKaigi (Presentation and/or Lightning Talk)
    %li
      Any additional information or special requirements
  %p
    By submitting a proposal, you give permission to RubyKaigi 2010 to record, edit, and publish audio and/or video of your presentation. If you do not wish to abide these conditions, please refrain from submitting a proposal.
  %h2
    Important Dates
  %ul
    %li
      Submission Deadline: 2010-07-19(Mon) 23:59:59 (JST)
    %li
      Announcement of selection results: 2010-07-27(Tue)
  %h2
    Selection Process
  %p
    The presentations will be selected by RubyKaigi 2010 Team.
  %h2
    Questions?
  %p
    If you have any questions, please email us at 2010 at rubykaigi.org
  %div{:style=>'border:2px solid #8d8882;margin:30px 5px;padding:10px;font-size:24px;text-align:center;'}
    %span{:style => 'font-weight:bold'}
      %a{ :href => "https://spreadsheets.google.com/viewform?formkey=dGUwRGFGMnNTSklYaTVWLXlRM21SNEE6MQ" }
        Submit A Talk Now!
