#content
  %h1 日本Ruby会議2010のイメージイラストが決定いたしました
  %p この度は日本Ruby会議のイメージイラストの公募に多数ご応募いただきまして、ありがとうございました。
  %p 実行委員による厳正なる審査の結果、nari様の「Rubyの下(もと)に」が入賞いたしました。おめでとうございます。
  %h2 入賞 : 1名
  %ul
    %li 日本Ruby会議2010へのご招待(本編+懇親会のチケット)
    %li Tシャツ等のノベルティグッズに採用
    %li ノベルティグッズ一式を贈呈
  %div#nyusyo
    %p
      %img{:alt => "入賞 おめでとうございます", :width => "400", :height => "80", :src => "/2010/images/callforillustrations_nyusyo.png"}
      %img{:alt => "", :width => "400", :height => "400", :src => "/2010/images/callforillustrations_nari.jpg"}
      %br
      %strong 作者：nari様　作品名：「Rubyの下(もと)に」
      %a.noborder{ :href => "/2010/download/nari.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
      %br URL: 
      %a{:href => "http://www.narihiro.info/", :target => "_blank"}> http://www.narihiro.info/
      %br License:  
      %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
  %p
    ※この作品の壁紙を
    %a{:href => "/2010/#{current_locale}/Goodies"} おまけのページ
    よりダウンロードいただけます。
  %h2 その他の作品
  %p ご応募いただいた中から素敵な作品を一部以下にご紹介いたします。
  %p
    なお、こちらの作品は作者様のご了承のもと
    %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
    に基づき、高解像度のデータを配布させていただいております。
  %p
    企画として開催されます
    %a{:href => "/2010/#{current_locale}/events/27"} 「RubyKaigiで自分だけのrubyTシャツを作ろう！」
    等でご利用し、お楽しみください。
  %p たくさんのご応募、心より感謝申し上げます。 
  %div#illustrations
    %p
      %img{:alt => "Raging Wave Ruby Kaigi 2010", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_emeitch.png"}
      %br emeitch 様
      %br - 
      %br
      %a.noborder{ :href => "/2010/download/emeitch.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
    %p
      %img{:alt => "Rubyちゃん", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_phirip.png"}
      %br PHIRIP 様
      %br 
      %a{ :href => "http://phirip.com/", :target => "_blank" } http://phirip.com/
      %br
      %a.noborder{ :href => "/2010/download/phirip.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
    %p
      %img{:alt => "心 はずむ RubyKaigi", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_yunadesign.png"}
      %br Yuna Design 様
      %br
      %a{ :href => "http://yu-na.tdiary.net/", :target => "_blank" } http://yu-na.tdiary.net/
      %br
      %a.noborder{ :href => "/2010/download/yunadesign.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
    %p
      %img{:alt => "Rubies, ruby programs, and rubyists for rubyists", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_zunda.png"}
      %br zunda 様
      %br 
      %a{ :href => "http://zunda.freeshell.org/", :target => "_blank" } http://zunda.freeshell.org/
      %br
      %a.noborder{ :href => "/2010/download/zunda.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
    %p
      %img{:alt => "ルビー会議", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_kanamoken.png"}
      %br かなもけん 様
      %br 
      %a{ :href => "http://kanamoken.cryptomeria.gr.jp/", :target => "_blank" } http://kanamoken.cryptomeria.gr.jp/
      %br
      %a.noborder{ :href => "/2010/download/kanamoken.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
    %p
      %img{:alt => "Japan-es-que", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_itojunichi.png"}
      %br 伊藤ジュンイチ 様
      %br 
      %a{ :href => "http://451system.net/", :target => "_blank" } http://451system.net/ 
      %br
      %a.noborder{ :href => "/2010/download/itojunichi.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
    %p
      %img{:alt => "Rubyに蝶", :width => "200", :height => "200", :src => "/2010/images/callforillustrations_yoshiokamaki.png"}
      %br 吉岡真希 様
      %br - 
      %br
      %a.noborder{ :href => "/2010/download/yoshiokamaki.zip" }
        %img{:alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}        
