#content
  %h1 日本Ruby会議2010での発表を募集します
  %p
    RubyKaigi2010 で発表を希望される方を募集いたします。募集するプレゼンテーションのテーマは以下のとおりです。
  %ul
    %li
      Ruby について、なんでも
  %p.spec
    応募方法
  %p
    応募には次のような項目が必要になります。
  %ul
    %li
      発表者氏名（ニックネームでも可）、所属、メールアドレス
    %ul
      %li
        英語必須
    %li
      タイトル
      %ul
        %li
          英語必須
    %li
      発表概要（Webサイト・プログラムなどに掲載する公開用のもの）
      %ul
        %li
          英語必須（英語に自信がなければ「翻訳希望」と書いておいて下さい）
    %li
      発表詳細（発表選考に使います。公開はしません）
      %ul
        %li
          記述言語は自由です
    %li
      希望するプレゼン時間（30 分くらい・60 分くらい・それ以上）
      %ul
        %li
          質疑応答込みの時間です
        %li
          基本的に、1 発表 60 分くらいを目安に考えています
    %li
      発表で利用予定の自然言語（日本語、英語）
    %li
      パスポート上の国籍（ビザが必要な人について、発給手続円滑化のため）
    %li
      希望する発表曜日（金、土、日、どれでも）
    %li
      その他、連絡事項
  %p
    発表に応募すると、写真撮影・講演動画の中継、録画の配信、発表資料の公開に同意したものと見做されます。同意されない方のご応募はご遠慮下さい。
  %p
    タイトル、発表概要は原則としてパンフレットに掲載できるクオリティであることを期待しています。「あとで書く」はご遠慮下さい。
  %p
    多くの日本人以外の Rubyist が RubyKaigi に参加するため、英語での発表情報提供にご協力ください。英語に自信が無い方は応募時にその旨お伝えください。スタッフができる範囲でお手伝いします。
  %p
    今年は 2 トラック同時進行を予定しています。去年よりも発表件数が少なくなる予定です。ただ、発表応募とは別に企画応募もしていますので、そちらも是非検討して下さい。
  %p.spec
    日程
  %ul
    %li
      募集締切: 2010 年 4 月 28 日(水)
    %li
      募集結果発表: 2010 年 5 月
    %li
      RubyKaigi2010: 2010 年 8 月 27 日(金)、28 日(土)、29日(日)
  %p.spec
    選考方法
  %p
    RubyKaigi2010 スタッフにより選考いたします。
  %p.spec
    お問い合わせ
  %p
    何か不明な点があれば、2010 at rubykaigi.org までお気軽にお問い合わせください。

  %p
    (募集は終了しました。多数のご応募ありがとうございました)

  .form_caution
    応募フォームは日本語・英語とで共用しているため、フォーム項目の記述が英語になっています。ご理解とご協力をお願いします。英語が得意ではない方については、スタッフができる範囲でお手伝いしますので、フォームにその旨を記入してください。
