#content
  %h1 RubyKaigi 2010 Call for Presentation Proposals
  %p
    This is a call for presentation proposals for RubyKaigi 2010. We are interested in presentations on the following topics:
    %ul
      %li
        Anything about the Ruby language
    %p.spec
      How to Submit a Proposal
    %p
      The applicant will need to submit the following information.
    %ul
      %li
        name (or nickname), affiliation (company, user group etc), and e-mail address of the applicant(s)
      %li
        the title of the proposed presentation
      %li
        a short abstract of the proposed presentation (for use on schedules, etc if your proposal is accepted)
      %li
        a more detailed description of the proposed presentation (for usage during selection process. We will not make this to public.)
      %li
        preferred presentation duration: 30 min / 60 min / other (includes Q/A time)
      %li
        Spoken language of presentation: English/Japanese (Ruby assumed)
      %li
        nationality of the applicant(s) (for visa for entry into Japan)
      %li
        preferred day for presentation: August 27th / 28th / 29th / no preference.
      %li
        Any additional information or special requirements
    %p
      By submitting a proposal, you give permission to RubyKaigi 2010 to record, edit, and publish audio and/or video of your presentation. If you do not wish to abide these conditions, please refrain from submitting a proposal.
    %p
      We intend to use the title and abstract of your presentation in the conference pamphlet and other materials, so please write something that will appeal to your potential audience.
    %p.spec
      Important Dates
    %ul
      %li
        Submission Deadline: Wednesday, 28th April, 2010
      %li
        Announcement of selection results: During May, 2010
      %li
        RubyKaigi 2010: Friday, 27th August - Sunday, 29th August
    %p.spec
      Selection Process
    %p
      The presentations will be selected by the staff of RubyKaigi 2010.
    %p.spec
      Questions?
    %p
      If you have any questions, please email us at 2010 at rubykaigi.org.

    %p
      (Submission Form was closed. Thanks so many submissions!)
