%div#content
  %h1
    Ruby会議2010のライトニングトークスを募集します
  %p
    いわゆるライトニングトークスによるプレゼンテーションを募集します。 Rubyに関するアプリケーションのデモやRubyに関する主張、その他なんでも、発表したいことがある人はぜひご応募ください。
  %h2
    日本Ruby会議2010のライトニングトークスについて
  %p
    ライトニングトークスは1時間で5分間のプレゼンテーションを11本行うオーソドックスなスタイルになる予定です。 日本Ruby会議2010のライトニングトークスは、会期2日目(8/28(土))の午後に大ホールと中ホールで並行して実施する予定です。
  %p
    なお、応募者多数の場合は日本Ruby会議2010実行委員会の選考により各トラック11発表(最大で22発表)に絞ります。また、応募が少数の場合は大ホールでの1トラックになるかもしれません。
  %h2
    ライトニングトークス発表者の入場チケットについて
  %p
    ライトニングトークス発表者も入場チケットが必要です。もしも、事前にチケットを購入できなかった場合は、実費にてチケットの斡旋を行います。
  %p
    懇親会については、通常の参加者と同様です。つまり、特別に斡旋などはいたしません。
  %h2
    応募方法
  %p
    応募には次のような項目が必要になります。
  %ul
    %li
      発表者氏名（ニックネームでも可）、所属、メールアドレス
    %ul
      %li
        英語必須
    %li
      タイトル
      %ul
        %li
          英語必須
    %li
      発表概要（発表選考に使います。公開はしません）
      %ul
        %li
          記述言語は日本語で構いません
    %li
      発表で利用予定の自然言語（日本語、英語）
    %li
      RubyKaigi2010チケットの有無
    %li
      これまでのRubyKaigiでのReject経験(発表またはライトニングトーク)
    %li
      その他、連絡事項
  %p
    発表に応募すると、写真撮影・講演動画の中継、録画の配信、発表資料の公開に同意したものと見做されます。同意されない方のご応募はご遠慮下さい。
  %p
    日本Ruby会議2010には多くの日本人以外の Rubyist が RubyKaigi に参加するため、発表者名やタイトルといった発表情報を英語で提供することにご協力ください。英語に自信が無い方は応募時にその旨お伝えください。スタッフができる範囲でお手伝いします。
  %h2
    日程
  %ul
    %li
      募集締切: 2010 年 7 月 19 日(月) 23:59:59 (JST)
    %li
      募集結果発表: 2010 年 7 月 27 日(火)
  %h2
    選考方法
  %p
    日本Ruby会議2010実行委員会で選考のうえ、メールにてご連絡いたします。
  %h2
    お問い合わせ
  %p
    何か不明な点があれば、2010 at rubykaigi.org までお気軽にお問い合わせください。
  %div{:style=>'border:2px solid #8d8882;margin:30px 5px;padding:10px;font-size:24px;text-align:center;'}
    %strike
      %span{:style => 'font-weight:bold'} 日本Ruby会議2010のライトニングトークスに応募する
  %p
    募集は終了しました。たくさんのご応募、ありがとうございました!
