#content
  %h1 おまけ
  %p Ruby会議2010のオリジナル壁紙や各種ファイルをダウンロードいただけます。
  %h2 デスクトップ用壁紙
  %p Coming soon...
  %h2 iPhone用壁紙
  %p
    %a.mark{:href => "http://www.quanp.com/ruby/"} リコー様提供 日本Ruby会議2010限定オリジナルiPhone壁紙はこちら
  %h2 ブログ用バッヂ
  %div#badge
    %p
      %a.tip
        %img{:alt => "ATTENDEE", :width => "160", :height => "201", :src => "/2010/badge/attendee.png"}
        %br 参加者用
        %span 日本Ruby会議2010に参加される方はご自分のサイトに貼りましょう！
    %p
      %a.tip
        %img{:alt => "ATTENDEE(Away)", :width => "160", :height => "201", :src => "/2010/badge/away.png"}
        %br 参加者用(Away)
        %span 日本Ruby会議2010に会場より遠く離れた場所からUst経由等で参加される方はこちらをどうぞ
    %p
      %a.tip
        %img{:alt => "SPEAKER", :width => "160", :height => "201", :src => "/2010/badge/speaker.png"}
        %br スピーカー用
        %span 日本Ruby会議2010でスピーカーとして参加される方用
    %p
      %a.tip
        %img{:alt => "COMMITTER", :width => "160", :height => "201", :src => "/2010/badge/committer.png"}
        %br コミッター用
        %span 日本Ruby会議2010に参加されるコミッター用
    %p
      %a.tip
        %img{:alt => "INDIVIDUAL SPONSOR", :width => "160", :height => "201", :src => "/2010/badge/individual_sponsor.png"}
        %br 個人スポンサー用
        %span 日本Ruby会議2010の個人スポンサー用
    %p
      %a.tip
        %img{:alt => "SPONSOR", :width => "160", :height => "201", :src => "/2010/badge/sponsor.png"}
        %br 企業スポンサー用
        %span 日本Ruby会議2010の企業スポンサー用
    %p
      %a.tip
        %img{:alt => "STAFF", :width => "160", :height => "201", :src => "/2010/badge/staff.png"}
        %br スタッフ用
        %span たのしい日本Ruby会議2010をつくりましょう！
  %h2.clear 公式ロゴセット
  %div.download
    %img{ :alt => "", :width => "400", :height => "250", :src => "/2010/images/goodies_officiallogo_thumb.jpg"}
    %dl
      %dt
        EPS+AI+SVG
      %dd
        %a.noborder{ :href => "/2010/download/official_logo_set.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
    %p.author
      Author:norio,
      URL:
      %a{ :href => "http://twitter.com/norio", :target => "_blank"}> http://twitter.com/norio
      , License:
      %a{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
