#content
  %h1 Goodies 
  %p You can download original wallpapers and various files of RubyKaigi 2010.
  %h2 Wallpapers (for desktop)
  %div.download
    %img{ :alt => "", :widht => "400", :height => "250", :src => "/2010/images/goodies_nari_r_thumb.jpg"}
    %dl
      %dt
        1920 x 1200
      %dd
        %a.noborder{ :href => "/2010/download/nari_R1920x1200.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1600 x 1200
      %dd
        %a.noborder{ :href => "/2010/download/nari_R1600x1200.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1440 x 900
      %dd
        %a.noborder{ :href => "/2010/download/nari_R1440x900.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1280 x 800
      %dd
        %a.noborder{ :href => "/2010/download/nari_R1280x800.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1024 x 768
      %dd
        %a.noborder{ :href => "/2010/download/nari_R1024x768.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
    %p.author
      Author:nari,
      URL:  
      %a{ :href => "http://www.narihiro.info/", :target => "_blank"}> http://www.narihiro.info/
      , License: 
      %a{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
  %hr
  %div.download
    %img{ :alt => "", :widht => "400", :height => "250", :src => "/2010/images/goodies_nari_b_thumb.jpg"}
    %dl
      %dt
        1920 x 1200
      %dd
        %a.noborder{ :href => "/2010/download/nari_B1920x1200.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1600 x 1200
      %dd
        %a.noborder{ :href => "/2010/download/nari_B1600x1200.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1440 x 900
      %dd
        %a.noborder{ :href => "/2010/download/nari_B1440x900.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1280 x 800
      %dd
        %a.noborder{ :href => "/2010/download/nari_B1280x800.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
      %dt
        1024 x 768
      %dd
        %a.noborder{ :href => "/2010/download/nari_B1024x768.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
    %p.author
      Author:nari,
      URL:  
      %a{ :href => "http://www.narihiro.info/", :target => "_blank"}> http://www.narihiro.info/
      , License: 
      %a{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
  %h2 Wallpapers (for iPhone)
  %p Coming soon...
  %h2 Badges (for blog)
  %p Coming soon...
  %h2 Official logo set 
  %div.download
    %img{ :alt => "", :widht => "400", :height => "250", :src => "/2010/images/goodies_officiallogo_thumb.jpg"}
    %dl
      %dt
        EPS+AI+SVG
      %dd
        %a.noborder{ :href => "/2010/download/official_logo_set.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
    %p.author
      Author:norio,
      URL:  
      %a{ :href => "http://twitter.com/norio", :target => "_blank"}> http://twitter.com/norio
      , License: 
      %a{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
