#content
  %h1 Goodies
  %p You can download wallpapers and various files of RubyKaigi 2010.
  %h2 Wallpapers (for desktop)
  %p Coming soon...
  %h2 Wallpapers (for iPhone)
  %p Coming soon...
  %h2 Badges (for blog)
  %div#badge
    %p
      %a.tip
        %img{:alt => "ATTENDEE", :width => "160", :height => "201", :src => "/2010/badge/attendee.png"}
        %br For attendee
    %p
      %a.tip
        %img{:alt => "SPEAKER", :width => "160", :height => "201", :src => "/2010/badge/speaker.png"}
        %br For speaker
    %p
      %a.tip
        %img{:alt => "COMMITTER", :width => "160", :height => "201", :src => "/2010/badge/committer.png"}
        %br For committer
    %p
      %a.tip
        %img{:alt => "INDIVIDUAL SPONSOR", :width => "160", :height => "201", :src => "/2010/badge/individual_sponsor.png"}
        %br For individual sponsor
    %p
      %a.tip
        %img{:alt => "SPONSOR", :width => "160", :height => "201", :src => "/2010/badge/sponsor.png"}
        %br For sponsor
    %p
      %a.tip
        %img{:alt => "STAFF", :width => "160", :height => "201", :src => "/2010/badge/staff.png"}
        %br For staff
  %h2 Official logo files
  %div.download
    %img{ :alt => "", :widht => "400", :height => "250", :src => "/2010/images/goodies_officiallogo_thumb.jpg"}
    %dl
      %dt
        EPS+AI+SVG
      %dd
        %a.noborder{ :href => "/2010/download/official_logo_set.zip" }
          %img{ :alt => "DOWNLOAD", :width => "110", :height => "30", :src => "/2010/images/download_btn.png"}
    %p.author
      Author:norio,
      URL:
      %a{ :href => "http://twitter.com/norio", :target => "_blank"}> http://twitter.com/norio
      , License:
      %a{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
