%div#content
  %h1
    INFORMATION
  %ul
    %li RubyKaigi 2010 has student discount program. <a href="http://rubykaigi.tdiary.net/20100614.html#p02">the program detail</a> and <a href="https://spreadsheets.google.com/viewform?formkey=dEpJSldhXzV6Skp6d0RxQVdWQS1Odnc6MQ">submission form</a>.
    %li RubyKaigi 2010 volunteer staff's recruitment was closed.
    %li RubyKaigi 2010 Individual Sponsorship Registration has been "sold out". Thank you so match registration!<br/>Normal Conference/Official Party Registrations will open at 2010-06-15 19:00(JST).
  != render :partial => 'shared/headline'
  != render :partial => 'shared/add_feed'

  %h2
    RubyKaigi2010
  %ul
    %li
      Dates: August 27-29 2010
    %li
      Venue:
      %a{ :href => "http://www.epochal.or.jp/eng/index.html" }
        Tsukuba International Congress Center "EPOCHAL TSUKUBA"
      (Tsukuba, Ibaraki, Japan)
    %li
      Fee: 6,000 JPY
    %li
      Streaming: Sessions are scheduled to streaming via Ustream.tv. The streaming will be distributed by "KaigiFreaks". The delivery quality is best effort.
    %li
      official tag:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010" }
        rubykaigi2010
    %li
      official hash tag:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi" }
        \#rubykaigi
    %li
      Organizers: The RubyKaigi 2010 Team, Ruby Association, Nihon Ruby-no-Kai
  %h3 RubyKaigi 2010 Official Conference Party
  %ul
    %li Date: Aughst 28 2010
    %li Start At: 19:00 (JST)
    %li Venue: the same location as RubyKaigi 2010
    %li Fee: 5,000 JPY

  %h2
    Keynote Speakers
  %ul
    %li
      Yukihiro &quot;Matz&quot; Matsumoto
    %li
      Chad Fowler
    %li
      Jeremy Kemper
  %h2
    Speakers
  %p (This is quick notification. we'll make an announcement of detail soon.)
  %p!= render :partial => 'pages/2010/speakers_list'

  %h2
    Sub-Event Organizers
  %p (This is quick notification. we'll make an announcement of detail soon.)
  %p!= render :partial => 'pages/2010/subevent_organizers_list'

  %h2
    Call For Presentation and Sub-Event Has Been Closed
  %p
    Thanks you all for so many submissions. However, we'll call for Lightning Talk after normal registration.

  %h2 Call For RubyKaigi 2010 Illustation Has Been Closed
  %p
    Thank you all for so many illustrations.

  %h2
    RubyKaigi 2010 is looking for Sponsors
  %p
    RubyKaigi 2010 is seeking organizations to sponsor the conference. For further details, visit
    %a{ :href => "/2010/en/CallForSponsors.html" }
      the this link
