#content
  %h1 Useful Information for RubyKaigi2010 Attendees

  %p
    We're sorry, but only
    %a!= link_to "Japanese version", page_url(:page_name => 'Information', :locale => 'ja')
    is available at this time. We understand you need this information. We'll soon provide you English translation.

  %p Thank you for your patience ;-)
