#content
  %h1 参加者向け情報

  %h2 会場での無線LANの使用について

  %p 会場では無料の無線によるインターネット接続を提供します。具体的には、 IEEE 802.11a および IEEE 802.11b/g 対応の無線アクセスポイントを会場および廊下に用意しています。どうぞご利用ください。なお、会場のネットワーク資源は有限ですので、以下の点にご協力ください。
  %ul
    %li ストリーミングの視聴等、帯域を消費するアプリケーションの利用はお控えください。
    %li IPを多数使用しないでください。特に携帯端末等、複数のデバイスでの接続はお控えください。
    %li TCPセッションを多数消費しないでください。
    %li 無線帯域を有効に活用するため、モバイルルータ等でアクセスポイントを立ち上げるのはお控えください。

  %p SSID は RK10-abg または RK10-a です。RK10-abg は IEEE 802.11a/b/g 対応、RK10-a は IEEE 802.11a 専用のアクセスポイントです。

  %p 会場のネットワークは WPA/WPA2(パーソナル) に設定されています。パスワードは会場で別途アナウンスします。

  %p 会場内ネットワークから外に出るポートは、主要なものを除いて制限されています。

  %p つくば国際会議場が提供する無線アクセスポイントも利用することができます。ただし、RubyKaigi 用アクセスポイントよりもポート等の制約が厳しいことに留意ください。


  %h2 会場内の電源コンセントについて

  %p 会場にノートパソコンや携帯機器を持ち込む方が多くいらっしゃるかと思います。

  %p 大ホール入り口周辺に給電所(充電コーナー)を設ける予定ですのでご利用下さい。

  %p 数に限りがありますが、大ホールと中ホール200の前方中央には机と電源のある席を用意しています。譲りあってお使いください。

  %p いずれにせよ、用意できるコンセントの数は参加者の数に対してかなり少ない見込みです。みなさま譲りあってご利用されますようお願いします。また、長時間に渡って機器を使用されたい方は予備のバッテリーをお持ちになることを強くお勧めします。


  %h2 ircの利用について

  %p TBD: チャネル運用決定待ち


  %h2 会場内での飲食について

  %ul
    %li 大ホール及び中ホール200では飲食禁止です。
    %li 大ホール横にある「喫茶自由」にて飲料を提供する予定です(無料です)。
    %li 会場には自動販売機が数カ所設置されております。ただし、過去の開催時には売り切れてしまうことがありましたので、ご自身でお気に入りに飲み物をお持ちいただくのも良いかと思います。


  %h2 ゴミの持ち帰りにご協力ください

  %p 弁当ガラや食べ残し、飲み物の空缶やペットボトルなど会場内で出たゴミについては、極力お持ち帰りをお願いいたします。 運営上の負担を極力減らすため、ご理解とご協力の程どうぞよろしくお願い致します。


  %h2 会場付近での食事について

  %p 会場にグルメマップが用意されていますので、ご利用ください。

  %p 食べログによる会場付近のランチ情報の検索結果も参考になります。どうぞご活用ください。
  %ul
    %li
      %a{:href => "http://r.tabelog.com/rst/rstmap?clon=140.11643171310425&clat=36.0757075297531&lz=1&LstCat=&LstCatD=&LstCatSD=&LstRev=undefined&LstCnt=0&sw=&LstSitu=undefined&LstCosT=0&LstCos=0&RdoCosTp=2&PG=1"} グルメ・レストランマップ [食べログ]


  %h2 気分が悪くなった方は

  %p 以下を参照し、ご自身で近隣の病院等に行かれるか、または運営スタッフまでお声掛けください。
  %ul
    %li
      %a{:href => 'http://hospital.health.goo.ne.jp/ibaraki?prov=3&lin=405&sta=080069'} 病院検索：関東 つくばエクスプレス つくば - goo ヘルスケア


  %h2 お荷物について

  %p クロークの手配しておりません。施設内にコインロッカーはありますが、数も大きさも限られています。大きなお荷物は会場まで持ち込まれませんようお願いいたします。
