#content
  %h1 Useful Information for RubyKaigi 2010 Attendees

  %h2 Wi-Fi Internet Access

  %p A free Wi-Fi Internet access will be provided at the conference venue. We will provide IEEE 802.11a and IEEE 802.11b/g access points in the conference rooms (Main Convention Hall, Convention Hall 200, 202-B, 202-A, 201-B and 201-A) and hallway. Because the network resources are very limited, please keep the following in mind:
  %ul
    %li Please avoid to use applications that would consume lots of bandwidth such as watching streaming videos.
    %li Please use one device at a time.
    %li Please try not to establish lots of TCP sessions at a time.

  %p The SSIDs for Wi-Fi access are "RK10-abg" (IEEE 802.11a/b/g) and "RK10-a" (IEEE 802.11a).

  %p The encryption method for Wi-Fi access is WPA/WPA2 (personal), and the password will be announced in the venue.

  %p The outbound connections are restricted. Commonly used ports such as http, https, smtp, and pop3 are opened. Also, we are negotiating to open up some ports such as ssh, irc, svn, and git.

  %p You can use Wi-Fi access that is provided by Tsukuba International Congress Center. However, it has more strict access policy.

  %h2 Power outlets

  %p We will provide power outlet spot around the entrance of the main convention hall.

  %p There are a few seats with desks and power outlets in the main convention hall and convention hall 200. Please share with other attendees.

  %p There are not enough power outlets for all, please share with others. If you plan to use your devices such as laptop computer, please consider brining extra batteries or such.

  %p For attendees from outside of Japan, please keep in mind that domestic electricity in eastern Japan (including Tokyo) is 100V/50Hz. Most computer transformers can accommodate a wide range of voltages and frequencies, but please check to be sure. Most outlets will be for Japanese 2-pin flat blade plugs, although a limited number may be 3-pin flat blade plugs with a round grounding pin (North American). Please bring an appropriate adapter.

  %h2 Drinking and eating at the venue

  %ul
    %li Drinking and eating in the main convention hall and convention hall 200 are prohibited.
    %li Free drinks will be provided at Café Liberté next to the main convention hall.
    %li There are several vending machines at the venue. In the past RubyKaigi, vending machines became sold out during the conferences. We suggest you to bring your favoirte drinks.

  %h2 Please cooperate to bring your rubbish back to home

  %p We would like to ask you to bring back your rubbish such as empty drink containers and bento leftovers. Thank you for your cooperation.

  %h2 Eateries around the conference venue

  %p There will be a eateries map available at the conference reception.

  %p Please check out the search result by the Tabelog (http://tabelog.com) as well.
  %ul
    %li
      %a{:href => "http://r.tabelog.com/rst/rstmap?clon=140.11643171310425&clat=36.0757075297531&lz=1&LstCat=&LstCatD=&LstCatSD=&LstRev=undefined&LstCnt=0&sw=&LstSitu=undefined&LstCosT=0&LstCos=0&RdoCosTp=2&PG=1"} Eateries map by Tabelog

  %h2 If you feel sick...

  %p Please do not hesitate to contact nearby RubyKaigi staff if you require an assistance. The link below is the listing of local hospitals around the venue in case that you might go to see doctors by yourself.
  %ul
    %li
      %a{:href => 'http://translate.google.com/translate?hl=en&sl=ja&tl=en&u=http%3A%2F%2Fhospital.health.goo.ne.jp%2Fibaraki%3Fprov%3D3%26lin%3D405%26sta%3D080069'} The listing of local hospitals by goo health care (translation by Google Translate)

  %h2 Luggages

  %p We will not provide cloak room facilities. Even there are quite a few baggage lockers available at the venue, we suggest you not to bring big luggage.

  %h2 Miscellaneous information

  %p There is a mailing list for RubyKaigi attendees from outside of Japan. Pleas see the link below.
  %ul
    %li
      %a{:href => "http://qwik.atdot.net/rubykaigi2010overseas/"} RubyKaigi 2010 Travellers ML

  %p If you are coming from outside of Japan and look for a pre-paid or rental SIM, please check out the links below. Please note that we are not endorsing any shops described below.
  %ul
    %li
      %a{:href => "http://www.softbank-rental.jp/en/index.php"} http://www.softbank-rental.jp/en/index.php
    %li
      %a{:href => "http://www.softbank-rental.jp/en/phones/sim3g.php"} http://www.softbank-rental.jp/en/phones/sim3g.php

