#content
  %h1 配信
  %p イベント開催中は、USTREAMによりライブ中継をしております。
  %p 今年は以下のビューアーで中継をご覧いただけます。
  %ul
    %li 中継品質はベストエフォートです。悪しからずご了承ください。
    %li KaigiFreaksがお届けします。
    %li 中継とは別に、後日録画した動画も公開予定です(準備ができ次第、別途アナウンスします)。
  %h2 イベント期間中用の便利なビューアーができました！
  %div#viewer.whitebox.cleafix
    %div
      %p USTREAMとIRCとTwitterを同時に見れるページを用意しました。
      %p 開催中はぜひこちらをご利用ください。 :-)
      %p ※Web Socket対応ブラウザでご利用可能です。
    %div.btn  
      %p
        %a.noborder{:href => "/2010/live/1.html", :target => "_blank" }  
          %img{ :alt => "大ホール", :src => "/2010/images/viewer_btn_mainhall.png", :width => "200", :height => "80"}
      %p
        %a.noborder{:href => "/2010/live/2.html", :target => "_blank" }  
          %img{ :alt => "中ホール", :src => "/2010/images/viewer_btn_hall200.png", :width => "200", :height => "80"}
      %p
        %a.noborder{:href => "/2010/live/3.html", :target => "_blank" }  
          %img{ :alt => "会議室202-B", :src => "/2010/images/viewer_btn_room202b.png", :width => "200", :height => "80"}
    %div
      %img{ :alt => "", :src => "/2010/images/viewer_thumb.jpg", :width => "380", :height => "300"}
  %h2 IRCについて
  %p USTREAMのIRCは利用しません。irc.freenode.netをご利用ください。
  %div.whitebox
    %p
      %iframe{ :src => "http://webchat.freenode.net/?channels=rubykaigi-1%2Crubykaigi-2%2Crubykaigi-3%2Crubykaigi", :width => "600", :height => "400" }
