#content
  %h1 
    Ruby Sponsor
  %h2
    Network Applied Communication Laboratory Ltd.
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "Network Applied Communication Laboratory Ltd.", :src => "/2010/sponsors/nacl.png" }
    %img{ :alt => "株式会社ネットワーク応用通信研究所(NaCl)", :src => "/2010/sponsors/nacl_pht01.jpg" }
      %p.right
        %a.mark{ :href => "http://www.netlab.jp/" }
          http://www.netlab.jp/
    %div
      %p
        Network Applied Communication Laboratory (NaCl) delivers system development solutions utilizing open source software. NaCl drives the Ruby programming language with Ruby creator and NaCl fellow, Yukihiro "Matz" Matsumoto.
