#content
  %h1 Photos
  %script{ :src => "http://rubykaigi.tumblr.com/js", :type => "text/javascript" }
  %h2 Collecting RubyKaigi 2010 photos :-)
  %p At rubykaigi.org, we will collect your photos related to RubyKaigi 2010.
  %p
    You can upload your photos to Flickr with tag;
    %strong "for_rubykaigi_2010"
    , or upload anywhere and tweet the URLs of uploaded photos with hash tag; #rubykaigi2010
  %p
    We will select uploaded photos, and put selected photos on this page via
    %a{:href => "http://rubykaigi.tumblr.com/", :target => "_blank"}
      Tumblr
    \. Each photo will be credited with its title and URL.
  %p Please note that you will be responsible about any photos that you upload. Please be careful about infringing on portrait rights and other rights.
