#content
  %h1 Photos
  %script{ :src => "http://rubykaigi.tumblr.com/api/read/json?num=50", :type => "text/javascript" }
  %script
    for (i=0; i<tumblr_api_read['posts-total']; i+=2) {
    if (tumblr_api_read['posts'][i]['type'] == "photo") {
    document.write(
    '<div class="photos clear"><p><img src="' + tumblr_api_read['posts'][i]['photo-url-250'] + '" alt ="" /></p>' + 
    tumblr_api_read['posts'][i]['photo-caption'] + '</div>' +
    '<div class="photos"><p><img src="' + tumblr_api_read['posts'][i+1]['photo-url-250'] + '" alt ="" /></p>' + 
    tumblr_api_read['posts'][i+1]['photo-caption'] +'</div>'
    );
    }
    }
  %h2.clear 写真を集めています :-)
  %p rubykaigi.org では、日本Ruby会議2010の写真を集めています。
  %p
    Flickrで
    %strong "for_rubykaigi_2010"
    というタグをつけていただくか、アップしたURLを#rubykaigi2010 というタグをつけてツイートしてください。
  %p
    こちらで選別し、
    %a{:href => "http://rubykaigi.tumblr.com/", :target => "_blank"}
      Tumblr
    経由でタイトル、引用元を掲載のうえ、このページへ転載させていただきます。
  %p なお、被写体の肖像権等についてのトラブルについては関与いたしかねます。著作権等は明記の上、ご自身の責任のもと写真をアップロードいただきますよう、ご注意願います。
