%div#content
  %h1
    取材をご希望の方へ
  %p
    メディア・報道関係者向けに日本Ruby会議2010についての情報をお伝えするメーリングリストを用意しました。
    取材についての情報や来場案内などもこちらでお伝えいたしますので、日本Ruby会議2010にご興味のあるメディア・報道関係の方は是非ご参加下さい。
  %h2
    メーリングリストの入り方
  %p
    qwikを用いておりますので、下記要領でメールを送信してください。
  %ul
    %li
      To: rubykaigi2010press-ja _at_ qwik.atdot.net
    %li
      Cc: ksb.4038.nullpointe.r+rubykaigi2010press_ja _at_ gmail.com
    %li
      件名: Join the list
    %li
      本文:
      %ul
        %li
          RubyKaigi2010のメディア・報道社向けメーリングリストに参加します。
        %li
          所属: (ご自身の所属組織）
        %li
          お名前: (ご自身のお名前）
  %p
    ※ メールアドレス中の_at_は@に読み替えてください。
  %h2
    お問い合わせ
  %p
    何か不明な点があれば、2010 at rubykaigi.org までお気軽にお問い合わせください。
