%div#content
  %h1
    取材をご希望の方へ
  %p
    メディア・報道関係者向けにRubyKaigi2010についての情報をお伝えするメーリングリスト用意しました。
    取材についての情報や来場案内などもこちらでお伝えいたしますので、メディア・報道関係の方は是非ご参加下さい。
  %h2
    メーリングリストの入り方
  %p
    以下のようなメールを、メーリングリスト宛てに送信してください。
  %ul
    %li
      To: rubykaigi2010press_ja _at_ qwik.atdot.net
    %li
      Cc: koshiba _at_ 4038nullpointer.com
    %li
      件名: Join the list
    %li
      本文:
      %ul
        %li
          RubyKaigi2010のメディア・報道社向けメーリングリストに参加します。
        %li
          所属: (ご自身の所属組織）
        %li
          お名前: (ご自身のお名前）
  %p
    ※ メールアドレス中の_at_は@に読み替えてください。
  %h2
    お問い合わせ
  %p
    何か不明な点があれば、2010 at rubykaigi.org までお気軽にお問い合わせください。
