#content
  %h1 
    Ruby スポンサーのご紹介
  %h2
    株式会社リコー
  %div#sponsors_ruby_page.whitebox
    %img{ :alt => "株式会社リコー", :src => "/2010/sponsors/ricoh.png" }

      %p.right
        %a.mark{ :href => "http://www.ricoh.co.jp/" }
          http://www.ricoh.co.jp/
    %div
      %h3 quanpの紹介
      %p
        高性能な技術を、より使いやすく。リコーは画像機器を中心とした製品開発やサービスの提供に加え、それらを組み合わせたオフィスソリューションの提供へと事業領域を拡大しています。そうした新規事業の一つとして“quanp”を展開中。quanpは情報をスマートに使いこなすための個人向けビジュアルオンラインストレージサービスです。ファイルのアップロード、共有、検索を簡単な操作で行うことができます。
      %p
        このquanpでは、サーバーシステムの構築においてRubyを活用しています。今後も、開発の中で得た知識・技術でRubyの発展に貢献するとともに、Rubyの利点を活かした大規模システム構築技術に磨きをかけていきたいと考えています。
      %hr
      %h3 iPhoneアプリ登場
      %p
        quanpに保管している写真や動画、仕事の重要なファイルを、いつでもiPhoneから確認できます。iPhoneで撮った写真はもちろん、動画や音声も、簡単にアップロードでき、quanp上のファイルやiPhoneのファイルを簡単に交換できます。
      %p
        quanpについての詳しい情報については、下記サイトをご覧ください。
        %a.mark{ :href=>"http://www.quanp.com" }
          http://www.quanp.com
