#content
  %h1 
    Ruby Sponsor
  %h2
    Ricoh Company, Ltd.
  %div#sponsors_ruby_page.whitebox
    %img.f_left{ :alt => "Ricoh Company, Ltd.", :src => "/2010/sponsors/ricoh.png" }
    %p.right
      %a.mark{ :href => "http://www.ricoh.co.jp/" }
        http://www.ricoh.co.jp/
    %div.clear
      %h3 Introduction to quanp
      %p
        High-performance technology, easier to use. In addition to Ricoh product development and services that focus on imaging equipment, Ricoh is expanding its business scope to provide a combination of office solutions. One of these new businesses being developed is "quanp."
      %p
        quanp is a visual online storage service for helping individuals to get used to utilizing information intelligently. The user can upload files, share, and do simple search operations. quanp’s server systems are powered by Ruby. In the future, while contributing knowledge and technologies gained during development to the growth of Ruby, we would like to refine large-scale system construction technologies that utilize Ruby’s advantages.
      %p.f_left  
        %img{ :alt => "quanp", :src => "/2010/sponsors/ricoh_logo.gif" }
        %br
        %img{ :alt => "Ricoh’s visual online storage for consumers", :src => "/2010/sponsors/ricoh_txt01.gif" }
        %br
        %img{ :alt => "Up to 3 Months Free  Flyer Distribution Coming Soon", :src => "/2010/sponsors/ricoh_txt02.gif" }
      %p.f_right  
        %img{ :alt => "", :src => "/2010/sponsors/ricoh_pht01.jpg" }
      %h3.clear Announcing quanp’s iPhone app
      %p.f_left  
        %img{ :alt => "", :src => "/2010/sponsors/ricoh_pht02.jpg" }
      %img{ :alt => "Limited to the Ruby Association iPhone Wallpaper Available", :src => "/2010/sponsors/ricoh_txt03.gif" }
      %p.small
        *downloads available through the registration page
      %p
        At any time you can see photos and videos, important business files stored in quanp from an iPhone. Naturally photos taken with an iPhone and even video and audio can be easily uploaded, and files in quanp can easily be exchanged with files on an iPhone.
      %p.clear
        For further information about quanp please see the following site:
        %br
        %a.mark{ :href=>"http://www.quanp.com" }
          http://www.quanp.com
