#content
  %h1 Gold Sponsor
  %div#sponsors_gold_list.whitebox.clearfix
    %a{ :name => "waicrew" }
      %img{ :alt => "Waicrew Inc.", :src => "/2010/sponsors/waicrew.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.waicrew.com" }
          Waicrew Inc
      %p
        Our favorite method is "Symbol#to_proc".
    %hr
    %a{ :name => "clearcode" }
      %img{ :alt => "ClearCode Inc.", :src => "/2010/sponsors/clearcode.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.clear-code.com/" }
          ClearCode Inc.
      %p ClearCode provides high technology about free software such as Ruby, Mozilla Firefox/Thunderbird and so on.
    %hr
    %a{ :name => "recruit" }
      %img{ :alt => "Media Technology Labs, Recruit Co., Ltd", :src => "/2010/sponsors/recruit.png" }
    %div
      %h2
        %a.mark{ :href => "http://mtl.recruit.co.jp/" }
          Media Technology Labs, Recruit Co., Ltd
      %p The Media Technology Labs is an application research development institute established by Recruit Co., Ltd

    %hr
    %a{ :name => "contentsone" }
      %img{ :alt => "Contents One Inc.", :src => "/2010/sponsors/contentsone.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.contents-one.co.jp" }
          Contents One Inc.
      %p We had 20+ seminars of RoR for 4 years, will continue walking with Ruby &amp Rubyists. And, Social Apps is our another theme in 2010.

    %hr
    %a{ :name => "enishitech" }
      %img{ :alt => "Enishi Tech Inc.", :src => "/2010/sponsors/enishitech.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.enishi-tech.com" }
          Enishi Tech Inc.
      %p Enishi Tech Inc. is a small software company. Enishi implies relationship, link, bond, fate and chance.
      %p We value Enishi and Technology.

    %hr
    %a{ :name => "kakakucom" }
      %img{ :alt => "Kakaku.com, Inc.", :src => "/2010/sponsors/kakakucom.png" }
    %div
      %h2
        %a.mark{ :href => "http://tabelog.com" }
          Kakaku.com, Inc.
      %p We provide the internet media such as <a href="http://kakaku.com/">kakaku.com</a>, <a href="http://tabelog.com/">tabelog.com</a> and other services that support consumer choice in many aspects of life.
    %hr
    %a{ :name => "antas" }
      %img{ :alt => "ANTAS, Inc.", :src => "/2010/sponsors/antas.png" }
    %div
      %h2
        %a.mark{ :href => "http://antas.jp/"}
          ANTAS, Inc.
      %p ANTAS, Inc. is a system development company in Sapporo, Japan.
      %p We aggressively use Ruby for CMS, magazine publishing system, <a href="http://imagecruiser.jp/">ImageCruiser</a> and so on.
    %hr

    %a{ :name => "temona" }
      %img{ :alt => "TEMONA Co. Ltd.", :src => "/2010/sponsors/temona.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.temona.co.jp" }
          TEMONA Co. Ltd.
      %p TEMONA is selling a unique E-commerce ASP service called "Tamago Cart". Of course, all services are made in RoR.Looking for staff!

    %hr
    %a{ :name => "pex" }
      %img{ :alt => "PeX, inc.", :src => "/2010/sponsors/pex.png" }
    %div
      %h2
        %a.mark{ :href => "http://pex.jp/" }
          PeX, inc.
      %p PeX is one of the largest online point exchange services in Japan.

    %hr
    %a{ :name => "towersquest" }
      %img{ :alt => "Towersquest Inc.", :src => "/2010/sponsors/towersquest.png" }
    %div
      %h2
        %a.mark{ :href => "#"}
          Towersquest Inc.
      %p
        We are Towersquest Inc. providing solutions for business. Less time on nonessential repetitive tasks, more time on your core business.
    %hr
    %a{ :name => "cuon" }
      %img{ :alt => "Cuon Inc.", :src => "/2010/sponsors/cuon.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.cuon.co.jp/"}
          Cuon Inc.
      %p Cuon Inc. has specialized in business systems by Ruby on Rails. We have designed and developed agilely the business value for our clients.

    %hr
    %a{ :name => "rabbix" }
      %img{ :alt => "Rabbix Ltd.", :src => "/2010/sponsors/rabbix.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.rabbix.jp"}
          Rabbix Ltd.
      %p Rabbix is a web service provider in Fukushima city of Fukushima pref.
      %p Currently, we provide mainly safety confirmation system.

    %hr
    %a{ :name => "rlearning" }
      %img{ :alt => "R-learning", :src => "/2010/sponsors/rlearning.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.r-learning.co.jp/"}
          R-learning
      %p Our company is a system integrator that focun on Ruby on Rails and the android development.we excel in collaboration services development.

    %hr
    %a{ :name => "rakuten" }
      %img{ :alt => "Rakuten, Inc.", :src => "/2010/sponsors/rakuten.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.rakuten.co.jp"}
          Rakuten, Inc.
      %p The largest e-commerce company Rakuten provides the great place for ruby and OSS engineers with potential to change the world.
    %hr

    %a{ :name => "fujitsu" }
      %img{ :alt => "FUJITSU SOCIAL SCIENCE LABORATORY Ltd.", :src => "/2010/sponsors/fujitsu.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.ssl.fujitsu.com/"}
          FUJITSU SOCIAL SCIENCE LABORATORY Ltd.
      %p
        Fujitsu SSL provides the solutions that all business need,named PoweredSolution.

    %hr
    %a{ :name => "everyleaf" }
      %img{ :alt => "Everyleaf Corporation", :src => "/2010/sponsors/everyleaf.png" }
    %div
      %h2
        %a.mark{ :href => "http://everyleaf.com/"}
          Everyleaf Corporation
      %p We develop Rails apps and help you develop them too. Our name "Everyleaf" comes from "Man'yoshu", the oldest collection of Japanese poetry.

    %hr
    %a{ :name => "eyoffice" }
      %img{ :alt => "EY-Office Ltd.", :src => "/2010/sponsors/eyoffice.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.ey-office.com/"}
          EY-Office Ltd.
      %p <a href="http://www.ey-office.com/">http://www.ey-office.com/</a>

    %hr
    %a{ :name => "tmix" }
      %img{ :alt => "tmix", :src => "/2010/sponsors/tmix.png" }
    %div
      %h2
        %a.mark{ :href => "http://tmix.jp/"}
          tmix
      %p
        tmix lets you create your own shirts online and then share your designs to other users.
    %hr
    %a{ :name => "hokkaidoinformationuniversity" }
      %img{ :alt => "Hokkaido Information University", :src => "/2010/sponsors/hokkaidoinformationuniversity.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.do-johodai.ac.jp/"}
          Hokkaido Information University
      %p HIU caters to the future needs of information society by promoting original research and creating comprehensively educated IT specialists.

    %hr
    %a{ :name => "scaleout" }
      %img{ :alt => "ScaleOut Inc.", :src => "/2010/sponsors/scaleout.png" }
    %div
      %h2
        %a.mark{ :href => "http://www.scaleout.jp/"}
          ScaleOut Inc.

    %hr
      %a{ :name => "econe" }
        %img{ :alt => "EC-One, Inc.", :src => "/2010/sponsors/econe.png" }
      %div
        %h2
          %a.mark{ :href => "http://www.ec-one.com/"}
            EC-One, Inc.
        %p
          EC-One works on the development of Ruby on Rails to achieve customer's　business more low-cost and speedily.
    %hr
      %a{ :name => "topstudio" }
        %img{ :alt => "Top Studio Co., Ltd.", :src => "/2010/sponsors/topstudio.png" }
      %div
        %h2
          %a.mark{ :href => "http://www.topstudio.co.jp/"}
            Top Studio Co., Ltd.
        %p
          TOP STUDIO is a one-stop solution provider for translating and editing documents for IT publications. We produce about 90 books yearly.
