#content
  %h1 The RubyKaigi 2010 Team

  %h2 Chairman
  %ul
    %li Masayoshi TAKAHASHI (Nihon Ruby-no-Kai, Chairman / tatsu-zine.com)
  %h2 Chief of Operations
  %ul
    %li Shintaro KAKUTANI (Nihon Ruby-no-Kai || Eiwa System Management)
  %h2 Vice Chief of Operations
  %ul
    %li Koji SHIMADA (Nihon Ruby-no-Kai / Enishi Tech)
  %h2 Program Chair
  %ul
    %li Koichi SASADA (Nihon Ruby-no-Kai, The University of Tokyo)
  %h2 Sponsor Liason
  %ul
    %li Ayumu AIZAWA (Nihon Ruby-no-Kai, Akasaka.rb)
    %li Shugo MAEDA (Ruby Association / Network Applied Communication Laboratory)

  %h2 Staff

  %ul
    %li Shin'ya ADZUMI (Nihon Ruby-no-kai, Intasect Communications) - Accounting
    %li Tadashi TADA (tDiary.org) - Conference Novelty Goods
    %li Kazuhiko (Open Source Programmer / Nihon Ruby-no-kai)
    %li Miho SUZUKI (@adzuki34)
    %li Leonard Chin (Nihon Ruby-no-Kai)
    %li Kyosuke MOROHASHI (Rails Tokyo || Eiwa System Management)
    %li Yohji SHIDARA (Ruby Sapporo / Enishi Tech)
    %li Tomoki MAEDA (Ruby Sapporo / Antas)
    %li Kenta MURATA (Ruby Sapporo)
    %li Fumitake TANIGUCHI (Ruby Sapporo, Hokkaido Information University)
    %li Jun OHWADA (Ruby Sapporo, Scigineer)
    %li Kei SHIRATSUCHI (Ruby Sapporo, Scigineer)
    %li Naoto TAKAI (Akasaka.rb)
    %li Toshiaki KOSHIBA (EC Navi, 4038nullpointer.com)
    %li Sunao TANABE (Nihon Ruby-no-kai)
    %li Motohiro TAKAYAMA (@mootoh)
    %li Tadashi SAWADA
    %li Eito KATAGIRI (Ruby Tokai)
    %li Iori ONDA
    %li Tasuo SAKURAI (Everyleaf)
    %li Tadashi SAITO (College of Information Science, University of Tsukuba)
    %li ujihisa
    %li Junichiro KITA (Nihon Ruby-no-Kai)
    %li Junya OGINO

  %h2 Designer

  %ul
    %li Mayuco Sekiya (@mayuco)
    %li Norio (Ibaraki Ruby-no-kai)

  %h2 rubykaigi.org
  %ul
    %li <a href="http://github.com/ruby-no-kai/rubykaigi/contributors">http://github.com/ruby-no-kai/rubykaigi/contributors</a>