#content
  %h1 Twitter
  %h2 RubyKaigi Live Streaming Viewer
  %div#viewer.whitebox.cleafix
    %div
      %p We've put together a page where you can watch the live RubyKaigi Ustream, IRC and Twitter feeds all at once.
      %p Please try it out during RubyKaigi.
      %p * Works with browsers supporting WebSockets
    %div.btn  
      %p
        %a.noborder{:href => "#", :target => "_blank" }  
          %img{ :alt => "Main Convention Hall", :src => "/2010/images/viewer_btn_mainhall.png", :width => "200", :height => "80"}
      %p
        %a.noborder{:href => "#", :target => "_blank" }  
          %img{ :alt => "Convention Hall 200", :src => "/2010/images/viewer_btn_hall200.png", :width => "200", :height => "80"}
      %p
        %a.noborder{:href => "#", :target => "_blank" }  
          %img{ :alt => "Meeting Room 202-B", :src => "/2010/images/viewer_btn_room202b.png", :width => "200", :height => "80"}
    %div
      %img{ :alt => "", :src => "/2010/images/viewer_thumb.jpg", :width => "380", :height => "300"}
  %h2 Follow me
  %div.whitebox
    %p Tweeting RubyKaigi info in Japanese and English.
    %p
      %a.noborder{:href => "http://www.twitter.com/rubykaigi", :target => "_blank" }  
        %img{ :alt => "Follow me on Twitter", :src => "/2010/images/twitter_followme_btn.png"}
  %h2 @rubykaigi on Twitter
  %script{ :src => "/2010/javascripts/widget.js", :type => "text/javascript" }
  :javascript
    new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 30,
    interval: 6000,
    width: 'auto',
    height: 400,
    theme: {
    shell: {
    background: '#ffffff',
    color: '#999999'
    },
    tweets: {
    background: '#ffffff',
    color: '#302b2b',
    links: '#000000'
    }
    },
    features: {
    scrollbar: true,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'default'
    }
    }).render().setUser('rubykaigi').start();
  %h2 Everyone's #rubykaigi Tweets
  :javascript
    new TWTR.Widget({
    version: 2,
    type: 'search',
    search: '#rubykaigi',
    interval: 6000,
    title: 'Twitter #rubykaigi',
    subject: '',
    width: 'auto',
    height: 400,
    theme: {
    shell: {
    background: '#ffffff',
    color: '#999999'
    },
    tweets: {
    background: '#ffffff',
    color: '#302b2b',
    links: '#8b8989'
    }
    },
    features: {
    scrollbar: true,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
    }
    }).render().start();

