#content
  %h1 #{t(:venue)}
  %p
    %a{ :href => "http://www.epochal.or.jp/eng/index.html" }
      \Tsukuba International Congress Center
    in Tsukuba City, Ibaraki, Japan.
  %ul
    %li Tsukuba  is 45 minutes away from Akihabara, Tokyo.
