!!!

%html
  %head
    %meta(charset='utf-8')
    %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js')
    %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js')
    != admin_assistant_includes

  %body!= yield
