!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}
    %title RubyKaigi2010
    %link{:href=>'/2010/stylesheets/2010.css', :media=>'screen', :rel=>'stylesheet', :type=>'text/css'}
  %body
    #content
      != yield

      %p#footer
        %a{ :href => "http://rubyidentity.org/", :title => "Ruby Visual Identity Team" }
          The Ruby logo
        is copyright © 2006, Yukihiro Matsumoto.

    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-6972157-1");
      pageTracker._trackPageview();
      } catch(err) {}
