!!!

%html
  %head
    %meta(charset='utf-8')
    %title= [@title, t(:rubykaigi2011), t(:rubykaigi2011_dates)].compact.join(', ')
    != stylesheet_link_tag 'reset'
    %link(rel='icon' href='/favicon.ico')
    != yield :head

  %body
    != yield
