- @title = t(:account_settings)
#content
  %h1 #{@title}
  - form_for @rubyist, :url => account_path do |form|
    != render :partial => form
    != form.submit 'Save'

  %hr
  !=link_to t(:dashboard), dashboard_path
